Source: fish
Section: libs
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: autotools-dev,
               cdbs (>= 0.4.93~),
               chrpath,
               debhelper (>= 9.0.0),
               libncurses5-dev,
               pkg-config
Standards-Version: 3.9.4
Homepage: http://ridiculousfish.com/shell/
Vcs-Git: git://anonscm.debian.org/collab-maint/fish.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/fish.git

Package: fish
Architecture: any
#Multi-Arch: same
#Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: ncurses-term
Description: A command-line interface "for the 90s"
 The fish, a "smart and user-friendly command line shell", generally behaves
 like bash, but adds autosuggestions, completions based on automatic parsing
 of installed man pages, and aims for high performance with low latency.
