Source: haskell-wai
Section: haskell
Priority: extra
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Clint Adams <clint@debian.org>
Build-Depends: debhelper (>= 7)
  , cdbs
  , haskell-devscripts (>= 0.8)
  , ghc
  , ghc-prof
  , libghc-blaze-builder-dev (>> 0.2.1.4)
  , libghc-blaze-builder-dev (<< 0.4)
  , libghc-blaze-builder-prof
  , libghc-conduit-dev (>> 0.4)
  , libghc-conduit-dev (<< 0.5)
  , libghc-conduit-prof
  , libghc-http-types-dev (>> 0.6)
  , libghc-http-types-dev (<< 0.7)
  , libghc-http-types-prof
  , libghc-network-dev (>> 2.2.1.5)
  , libghc-network-dev (<< 2.4)
  , libghc-network-prof
  , libghc-text-dev (>> 0.7)
  , libghc-text-dev (<< 0.12)
  , libghc-text-prof
  , libghc-transformers-dev (>> 0.2.2)
  , libghc-transformers-dev (<< 0.4)
  , libghc-transformers-prof
  , libghc-vault-dev (>> 0.1)
  , libghc-vault-dev (<< 0.3)
  , libghc-vault-prof
Build-Depends-Indep: ghc-doc
  , libghc-blaze-builder-doc
  , libghc-conduit-doc
  , libghc-http-types-doc
  , libghc-network-doc
  , libghc-text-doc
  , libghc-transformers-doc
  , libghc-vault-doc
Standards-Version: 3.9.3
Homepage: http://hackage.haskell.org/package/wai
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-wai
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-wai

Package: libghc-wai-dev
Architecture: any
Depends: ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: web application interface
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 It provides a common protocol for communication between web
 applications and web servers.

Package: libghc-wai-prof
Architecture: any
Depends: ${haskell:Depends}
  , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: web application interface; profiling libraries
 This package provides a library for the Haskell programming language,
 compiled for profiling.
 See http://www.haskell.org/ for more information on Haskell.
 .
 It provides a common protocol for communication between web
 applications and web servers.

Package: libghc-wai-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${haskell:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: web application interface; documentation
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 It provides a common protocol for communication between web
 applications and web servers.
