*.debhelper*
*.substvars
bdf2psf
console-setup
console-setup-amiga-ekmap
console-setup-ataritt-ekmap
console-setup-fonts-udeb
console-setup-macintoshold-ekmap
console-setup-mini
console-setup-mini.config
console-setup-pc-ekmap
console-setup-sun4-ekmap
console-setup-sun5-ekmap
console-setup-udeb
console-setup.config
files

