.tip
{
  border: black solid 1px;
  margin: 0.12in 0;
  padding: 0 10px;
  background-color: #D4D87E;
}

.warning
{
    border: black solid 1px;
    margin: 0.12in 0;
    padding: 0 10px;
    background-color: #FFBBBB;
}

.note
{
  border: black solid 1px;
  margin: 0.12in 0;
  padding: 0 10px;
  background-color: #EEEEEE;
}

.important
{
    border: black solid 1px;
    margin: 0.12in 0;
    padding: 0 10px;
    background-color: #FFFFBB;
}

.oddrow
{
    background-color: #D4D87E
}

.cmdsynopsis
{
  background-color: #E0E0E0;
  border: black solid 1px;
  margin: 0px;
}

.seglistitem
{
    border: black solid 1px;
    margin: 0.25in 0;
    padding: 2px 2px;
    background-color: #F8F8F8
}

pre.screen
{
  background-color: #E0E0E0;
  border: black solid 1px;
  padding: 2px;
}

.figure, .segmentedlist > table
{
  border: black solid 1px;
  margin: 1em 0;
  padding: 2px;
}

/* HACK: the docbook xsl sheets don't generate a span for
 *       varlistitems, but they do generate a 'dt' element for each
 *       one.
 */
.variablelist dt
{
  border-top: black solid 2px;
}

.variablelist
{
  border-bottom: black solid 2px;
}

.example
{
  border-left: medium solid black;
  padding-left: 0.5em;
  background-color: #EEEEEE;
}
