Source: python-gnutls
Section: python
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Build-Depends: debhelper (>= 9.0.0~), python-all-dev (>= 2.6.6-3~),
	libgnutls-dev (>= 2.4.1) | libgnutls28-dev
Standards-Version: 3.9.4
Homepage: http://cheeseshop.python.org/pypi/python-gnutls

Package: python-gnutls
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, ${shlibs:Depends}
Recommends: python-twisted-core
Provides: ${python:Provides}
Description: Python wrapper for the GNUTLS library
 This package provides a high level object oriented wrapper around
 libgnutls, as well as low level bindings to the GNUTLS types and
 functions via ctypes. The high level wrapper hides the details of
 accessing the GNUTLS library via ctypes behind a set of classes
 that encapsulate GNUTLS sessions, certificates and credentials and
 expose them to Python applications using a simple API.
 .
 The package also includes a Twisted interface that has seamless
 intergration with Twisted, providing connectTLS and listenTLS
 methods on the Twisted reactor once imported (the methods are
 automatically attached to the reactor by simply importing the
 GNUTLS Twisted interface module).
