Source: terminator
Priority: optional
Maintainer: nick black <nick.black@sprezzatech.com>
Build-Depends: autotools-dev,
	cdbs (>= 0.4.93~),
	debhelper (>= 8.1.3),
	libecore-dev,
	libedje-dev
Standards-Version: 3.9.3
Section: x11
Homepage: http://www.enlightenment.org

Package: libterminator1
Section: x11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enlightenment terminal application.
 The Enlightenment terminal emulator.
