Source: hplip
Section: utils
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian HPIJS and HPLIP maintainers <pkg-hpijs-devel@lists.alioth.debian.org>
Build-Depends: libcups2-dev, libcupsimage2-dev, libsane-dev, libsnmp-dev, libjpeg-dev,
 libusb-1.0-0-dev [linux-any], libusb-dev [!linux-any],
 debhelper (>= 9), autotools-dev, autoconf, automake, libtool, cups (>= 1.4.0) | cupsddk,
 patch (>= 2.5.9-3bpo1), findutils (>= 4.2.28), 
 python-dev, python-all-dev (>= 2.6.6-3~), python-qt4, pyqt4-dev-tools,
 python-dbus (>= 0.80), python-qt4-dbus, libdbus-1-dev, libudev-dev [linux-any], policykit-1,
 fdupes, lsb-release, pyppd (>= 0.4.9-5), dh-autoreconf
X-Python-Version: >= 2.5
Standards-Version: 3.9.4
Homepage: http://hplipopensource.com/hplip-web/index.html
Vcs-Svn: svn://svn.debian.org/pkg-hpijs/hplip/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-hpijs/hplip/?op=log

Package: hplip
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsane-hpaio (= ${hplip:binary:Version}),
 libhpmud0 (= ${hplip:binary:Version}), hplip-data (= ${hplip:source:Version}),
 printer-driver-hpcups (= ${hplip:binary:Version}),
 ${python:Depends}, python-dbus (>= 0.80), python-imaging, python-pexpect, python-reportlab,
 coreutils (>= 5.1.0), lsb-base (>= 3), adduser (>= 3.34), cups (>= 1.1.20),
 policykit-1, python-gobject-2, wget
Recommends: printer-driver-postscript-hp, sane-utils, avahi-daemon
Suggests: hplip-gui, hplip-doc, python-notify, system-config-printer
Description: HP Linux Printing and Imaging System (HPLIP)
 The HP Linux Printing and Imaging System provides full support for
 printing on most HP SFP (single function peripheral) inkjets and many
 LaserJets, and for scanning, sending faxes and for photo-card access on
 most HP MFP (multi-function peripheral) printers.
 .
 HPLIP is composed of:
  * System services to handle communications with the printers
  * HP CUPS backend driver (hp:) with bi-directional communication with
    HP printers (provides printer status feedback to CUPS and enhanced
    HPIJS functionality such as 4-side full-bleed printing support)
  * HP CUPS backend driver for sending faxes (hpfax:)
  * hpcups CUPS Raster driver to turn rasterized input from the CUPS
    filter chain into the printer's native format (PCL, LIDIL, ...).
    (hpcups is shipped in a separate package)
  * HPIJS Ghostscript IJS driver to rasterize output from PostScript(tm)
    files or from any other input format supported by Ghostscript, and
    also for PostScript(tm) to fax conversion support
    (HPIJS is shipped in a separate package)
  * Command line utilities to perform printer maintenance, such as 
    ink-level monitoring or pen cleaning and calibration
  * GUI and command line utility to download data from the photo card
    interfaces in MFP devices
  * GUI and command line utilities to interface with the fax functions
  * A GUI toolbox to access all these functions in a friendly way
  * HPAIO SANE backend (hpaio) for flatbed and Automatic Document Feeder 
    (ADF) scanning using MFP devices
 .
 USB, JetDirect (network) and parallel-port devices are supported.

Package: hplip-data
Architecture: all
Suggests: hplip
Depends: ${python:Depends}, ${misc:Depends}, xz-utils
Description: HP Linux Printing and Imaging - data files
 This package contains data files and PPDs for the HP Linux Printing and
 Imaging System.

Package: printer-driver-postscript-hp
Architecture: all
Depends: ${misc:Depends}, hplip (>= ${hplip:source:Version})
Replaces: hplip-data (<< 3.11.10-1ubuntu2), hplip (<< 3.11.10-1ubuntu2)
Breaks: cups (<< 1.5.0-11~), hplip-data (<< 3.11.10-1ubuntu2), hplip (<< 3.11.10-1ubuntu2)
Description: HP Printers PostScript Descriptions
 This package contains the compressed PPDs for the PostScript HP
 Printers.

Package: hplip-gui
Architecture: all
Depends: ${misc:Depends}, hplip (>= ${hplip:source:Version}), dbus-x11, 
 ${python:Depends}, python-qt4, python-qt4-dbus, 
 gksu | kdebase-bin (<< 4:4.4.0-1) | kde-runtime | kdebase-runtime | kdesudo | ktsuss
Recommends: xsane | simple-scan | skanlite, python-notify
Replaces: hplip  (<< 3.12.4-2)
Breaks: hplip  (<< 3.12.4-2)
Description: HP Linux Printing and Imaging - GUI utilities (Qt-based)
 This package contains utilities with graphical user interface (GUI) for
 HPLIP: HP Toolbox, HP Fax, ...
 .
 Note that all GUI utilities are based on the Qt (KDE) GUI environment. There
 are currently no equivalent utilities based on GTK (GNOME).

Package: hplip-dbg
Architecture: any
Priority: extra
Section: debug
Depends: ${misc:Depends}, hplip (= ${hplip:binary:Version}) | printer-driver-hpcups (= ${hplip:binary:Version}) | printer-driver-hpijs (= ${hpijs:binary:Version})
Breaks: hplip (<< 3.10.2-2ubuntu2)
Description: HP Linux Printing and Imaging - debugging information
 This package contains debugging symbolic information for all the
 binaries and libraries in the hplip and hpijs packages.
 .
 It is useful for generating backtraces using debuggers like
 gdb and to get better information from tools like ltrace.

Package: hplip-doc
Architecture: all
Section: doc
Suggests: hplip
Depends: ${misc:Depends}
Description: HP Linux Printing and Imaging - documentation
 This package contains the full documentation for the HP Linux
 Printing and Imaging System for off-line reading.  It includes
 the documentation for the HPIJS IJS driver as well.

Package: hpijs-ppds
Architecture: all
Section: utils
Provides: hplip-ppds
Replaces: hplip-ppds
Breaks: hplip-ppds, foomatic-filters-ppds (>> 20000101)
Depends: ${misc:Depends}, printer-driver-hpijs (>= ${hpijs:source:Version}), foomatic-filters (>= 3.0.2)
Description: HP Linux Printing and Imaging - HPIJS PPD files
 This package contains PPD (printer definition) files for the
 printers supported through the HP Linux Printing and Imaging
 System HPIJS driver.
 .
 These PPDs should work well with the matching versions of HPLIP
 and HPIJS, but may not be the most up-to-date PPDs available for
 a given printer.  See http://www.openprinting.org/ for the latest
 version of the PPDs (which are not guaranteed to work well).

Package: hpijs
Architecture: all
Section: oldlibs
Priority: extra
Depends: ${misc:Depends}, printer-driver-hpijs
Description: transitional dummy package for hpijs printer driver
 This is a transitional dummy package to transition to uniformly named
 printer-driver-hpijs.

Package: printer-driver-hpijs
Architecture: any
Section: text
Depends: ${shlibs:Depends}, ${misc:Depends}, libhpmud0 (= ${hplip:binary:Version})
Recommends: ghostscript, cups (>= 1.4.0) | cupsddk | hpijs-ppds, foomatic-filters
Suggests: hplip, hpijs-ppds, hplip-doc
Replaces: hpijs (<< 3.11.10-1ubuntu2)
Breaks: hpijs (<< 3.11.10-1ubuntu2)
Description: HP Linux Printing and Imaging - gs IJS driver (hpijs)
 This package contains an IJS printer driver for Ghostscript, which
 adds support for most inkjet printers and some LaserJet printers
 manufactured by HP.  It is also required for HPLIP fax support.
 .
 The Debian package of hpijs includes the so-called rss patch, to use
 pure black ink instead of composite black in printers that don't do
 color map conversion in firmware.
 .
 HPIJS can take advantage of Ghostscript IJS KRGB support when
 available, to enhance black printing on printers that do color
 map conversion in firmware and are thus not affected by the old
 rss patch.
 .
 Users of the CUPS printing system are advised to also install the
 hplip package, and use the hp CUPS backend to send data to the printer.
 HPLIP supports USB, networked and parallel-port devices, and enables
 extended HPIJS functionality such as border-less printing.
 Selecting any hpijs ppd in CUPS will use hpijs automatically.
 .
 HPIJS is meant to be used through the foomatic system (see the
 foomatic-filters package).

Package: hplip-cups
Architecture: all
Section: oldlibs
Priority: extra
Depends: ${misc:Depends}, printer-driver-hpcups
Description: transitional dummy package for hpcups printer driver
 This is a transitional dummy package to transition to uniformly named
 printer-driver-hpcups.

Package: printer-driver-hpcups
Architecture: any
Section: text
Depends: ${shlibs:Depends}, ${misc:Depends},
 ghostscript-cups, cups (>= 1.4.0) | cupsddk, cups
Suggests: hplip-doc, hplip (= ${hplip:binary:Version})
Replaces: hplip-cups (<< 3.11.10-1ubuntu2)
Breaks: hplip-cups (<< 3.11.10-1ubuntu2)
Description: HP Linux Printing and Imaging - CUPS Raster driver (hpcups)
 This package contains a CUPS-Raster-based printer driver which adds support
 for most inkjet printers and some LaserJet printers manufactured by HP. It
 does not provide PPDs for the fax functionality of HP's multi-function
 devices.
 .
 Users of the CUPS printing system are advised to also install the
 hplip package, and use the hp CUPS backend to send data to the printer.
 HPLIP supports USB, networked and parallel-port devices, and enables
 extended hpcups functionality such as border-less printing.
 Selecting any hpcups ppd in CUPS will use hpcups automatically.
 .
 No physical PPDs are shipped with this driver. PPDs are dynamically
 generated via a CUPS DDK .drv file.
 .
 This package can be installed to provide a minimal headless printer
 solution using CUPS.

Package: libhpmud0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: hplip (<< 3.10.6-3)
Breaks: hplip (<< 3.10.6-3)
Description: HP Multi-Point Transport Driver (hpmud) run-time libraries
 Shared library that provides direct I/O for each process. Prior to
 hpmud, all I/O was serialized through hpiod, a monolithic I/O processor.
 The new hpmud direct I/O is faster. Hpmud supports parallel, USB and
 JetDirect connectivity.
 .
 With hpmud, HPLIP no longer has Linux specific libusb extensions. This
 means any UNIX/Linux derivative that supports libusb may work with
 HPLIP. A public HPLIP "C" API is exposed through hpmud. See hpmud.h
 for documentation. A Python wrapper for hpmud, called hpmudext, is also
 available.

Package: libhpmud-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libhpmud0 (= ${binary:Version})
Description: HP Multi-Point Transport Driver (hpmud) development libraries
 Shared library that provides direct I/O for each process. Prior to
 hpmud, all I/O was serialized through hpiod, a monolithic I/O processor.
 The new hpmud direct I/O is faster. Hpmud supports parallel, USB and
 JetDirect connectivity.
 .
 With hpmud, HPLIP no longer has Linux specific libusb extensions. This
 means any UNIX/Linux derivative that supports libusb may work with
 HPLIP. A public HPLIP "C" API is exposed through hpmud. See hpmud.h
 for documentation. A Python wrapper for hpmud, called hpmudext, is also
 available.

Package: libsane-hpaio
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: hplip (<< 3.10.6-3), hplip-data (<< 3.10.5-4ubuntu1)
Breaks: hplip (<< 3.10.6-3), hplip-data (<< 3.10.5-4ubuntu1)
Recommends: sane-utils, hplip (= ${hplip:binary:Version})
Description: HP SANE backend for multi-function peripherals
 This package contains the SANE backend libraries for use with HP
 Multi-function peripherals.
 .
 Users of hplip are advised to install the hplip{-gui} packages for 
 command line and GUI tools associated with HPLIP.
 .
 This package is useful for a minimal footprint headless scanning solution.
