[Desktop Entry]
Exec=boincsrc
Icon=kscreensaver
Type=Service
X-KDE-ServiceTypes=ScreenSaver
TryExec=xscreensaver
Actions=InWindow;Root;Setup;
X-KDE-Category=Rapid Motion
Name=BOINC

[Desktop Action Setup]
Exec=kxsconfig boincsrc
Name=Setup...
Name[af]=Opstelling...
Name[ast]=Configuración...
Name[bg]=Настройки...
Name[br]=Kefluniadur ...
Name[bs]=Podesi...
Name[ca]=Arranjament...
Name[ca@valencia]=Arranjament...
Name[cs]=Nastavení...
Name[cy]=Gosod ...
Name[da]=Opsætning...
Name[de]=Einrichtung ...
Name[el]=Ρύθμιση...
Name[en_GB]=Setup...
Name[eo]=Agordo...
Name[es]=Configuración...
Name[et]=Seadistamine...
Name[eu]=Konfiguratu...
Name[fa]=برپایی...
Name[fi]=Asetukset...
Name[fr]=Configuration...
Name[fy]=Opset...
Name[ga]=Socrú...
Name[gl]=Configuración...
Name[he]=הגדרות...
Name[hne]=सटअप...
Name[hr]=Postavke …
Name[hu]=Beállítás...
Name[is]=Stillingar...
Name[it]=Impostazioni...
Name[ja]=設定...
Name[kk]=Баптау...
Name[ko]=설정...
Name[lt]=Sąranka ...
Name[lv]=Iestatījumi...
Name[mai]=सटअप...
Name[mk]=Поставување...
Name[ml]=ഒരകകം...
Name[ms]=Setkan...
Name[nb]=Innstillinger …
Name[nds]=Instellen...
Name[ne]=सटअप...
Name[nl]=Instellingen...
Name[nn]=Oppsett …
Name[pa]=ਸਟਅਪ...
Name[pl]=Ustawienia...
Name[pt]=Configurar...
Name[pt_BR]=Configurar...
Name[ro]=Configurare...
Name[ru]=Настройка...
Name[sk]=Nastavenie...
Name[sl]=Nastavi ...
Name[sq]=Instalimi...
Name[sr]=Подеси...
Name[sr@ijekavian]=Подеси...
Name[sr@ijekavianlatin]=Podesi...
Name[sr@latin]=Podesi...
Name[sv]=Inställningar...
Name[ta]=அமைபபு...
Name[tg]=Барпосозӣ...
Name[th]=ตงคา...
Name[tr]=Kurulum...
Name[ug]=ئورنات…
Name[uk]=Встановити...
Name[uz]=Oʻrnatish
Name[uz@cyrillic]=Ўрнатиш
Name[vi]=Thiết lập...
Name[xh]=Iyacwangciswa...
Name[x-test]=xxSetup...xx
Name[zh_CN]=设置...
Name[zh_TW]=設定...
Icon=kscreensaver

[Desktop Action InWindow]
Exec=kxsrun boincsrc -- -window-id %w
Name=Display in Specified Window
Name[ast]=Amosar na ventana especificada
Name[bg]=Показване в избран прозорец
Name[br]=Diskwel er prenestr spisaet
Name[bs]=Prikaži u određenom prozoru
Name[ca]=Mostra a la finestra especificada
Name[ca@valencia]=Mostra a la finestra especificada
Name[cs]=Zobrazit v určeném okně
Name[cy]=Dangos mewn Ffenestr Benodol
Name[da]=Visning i angivet vindue
Name[de]=In bestimmten Fenster anzeigen
Name[el]=Προβολή στο καθορισμένο παράθυρο
Name[en_GB]=Display in Specified Window
Name[eo]=Montri en indikita fenestro
Name[es]=Mostrar en la ventana especificada
Name[et]=Määratud aknas näitamine
Name[eu]=Bistaratu zehaztutako lehioan
Name[fa]=نمایش در پنجرۀ مشخصشده
Name[fi]=Näytä määrätyssä ikkunassa
Name[fr]=Affichage dans la fenêtre spécifiée
Name[fy]=Werjefte yn in definiearre finster
Name[ga]=Taispeáin san Fhuinneog Sonraithe
Name[gl]=Mostrar na fiestra indicada
Name[he]=הצג בחלון המצוין
Name[hne]=निरधारित विडो म दखाव
Name[hr]=Prikaži u određenom prozoru
Name[hu]=Megjelenítés a megadott ablakban
Name[is]=Birta í völdum glugga
Name[it]=Mostra nella finestra specificata
Name[ja]=指定したウィンドウで表示
Name[kk]=Келтірілген терезеде көрсетілсін
Name[ko]=지정한 창에 보이기
Name[lt]=Rodyti nurodytame lange
Name[lv]=Rādīt norādītajā logā
Name[mai]=निरदिषट विडो म परदरशित कर
Name[mk]=Прикажи во наведениот прозорец
Name[ml]=പരതയേകം പറഞഞിരികകനന ജാലകതതില പരദരശിപപികകക
Name[ms]=Papar dalam Tetingkap Yang Dinyatakan
Name[nb]=Vis i angitt vindu
Name[nds]=In utsöcht Finster wiesen
Name[ne]=निरदिषट सञझयालमा परदरशन
Name[nl]=Weergeven In een opgegeven venster
Name[nn]=Vis i oppgjeve vindauge
Name[pa]=ਦਸ ਝਰਖ ਵਿਚ ਵਖਾਓ
Name[pl]=Wyświetl w zadanym oknie
Name[pt]=Mostrar na Janela Indicada
Name[pt_BR]=Exibir na janela indicada
Name[ro]=Afișează în fereastra specificată
Name[ru]=Показывать в указанном окне
Name[sk]=Zobraziť v zadanom okne
Name[sl]=Prikaz v določenemu oknu
Name[sq]=Shfaq në Dritaren e Specifikuar
Name[sr]=Прикажи у наведеном прозору
Name[sr@ijekavian]=Прикажи у наведеном прозору
Name[sr@ijekavianlatin]=Prikaži u navedenom prozoru
Name[sr@latin]=Prikaži u navedenom prozoru
Name[sv]=Visa i angivet fönster
Name[ta]=குறிதத சாளரததில காடடு
Name[tg]=Дар тирезаи нишондода намоиш намоед
Name[th]=แสดงในหนาตางทกำหนด
Name[tr]=Belirtilen Pencerede Göster
Name[ug]=بەلگىلەنگەن كۆزنەكتە كۆرسەت
Name[uk]=Відобразити у вказаному вікні
Name[vi]=Hiển thị trong Cửa sổ Đã định
Name[x-test]=xxDisplay in Specified Windowxx
Name[zh_CN]=在指定的窗口中显示
Name[zh_TW]=在指定的視窗中顯示
NoDisplay=true

