Source: libspiro
Section: libs
Priority: extra
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Ruben Molina <rmolina@udea.edu.co>
Build-Depends: cdbs, debhelper (>= 6), autotools-dev
Standards-Version: 3.9.4
Homepage: http://sourceforge.net/projects/libspiro/

Package: libspiro0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  a library for curve design
 A mechanism for drawing smooth contours with constant curvature
 at the spline joins.
 .
 This package contains the runtime library. 

Package: libspiro-dev
Architecture: any
Section: libdevel
Depends: libspiro0 (= ${binary:Version})
Description: a library for curve design (development files)
 A mechanism for drawing smooth contours with constant curvature
 at the spline joins.
 .
 This package contains the runtime library's development files.

Package: libspiro0-dbg
Architecture: any
Section: libdevel
Priority: extra
Depends: libspiro0 (= ${binary:Version})
Description: a library for curve design (debugging symbols)
 A mechanism for drawing smooth contours with constant curvature
 at the spline joins.
 .
 This package contains the debugging symbols for libspiro0. 
