#!/bin/sh

randfifo=/tmp/random.fifo

empty_fifo() {
        while [ ! -p $randfifo ]; do
                sleep 1
        done
        cat $randfifo >/dev/null
}

. ../client/confmodule

db_capb backup
echo "capb: $RET"
if ! echo "$RET" | grep -w plugin-entropy; then
        echo "entropy plugin not available"
        exit 1
fi

empty_fifo & PID=$!

db_subst test/entropy DEVICE /dev/sda1
db_subst test/entropy FIFO $randfifo
db_subst test/entropy SUCCESS test/success
db_subst test/entropy KEYSIZE 128
db_fset test/entropy seen false
db_input high test/entropy
db_go

echo "$RET"

kill $PID
rm -f $randfifo
