#!/usr/bin/make -f
#export DH_VERBOSE=1

override_dh_auto_clean:
	if test -e Makefile; then \
	    make clean; \
            for f in Makefile config.h config.log config.status \
                     json.pc json_config.h libtool stamp-h1 stamp-h2 \
                     tests/Makefile; do \
	        rm -f $$f; \
            done; \
	fi; \
	if test -d tests/testSubDir; then \
	    rm -R tests/testSubDir; \
	fi

override_dh_strip:
	dh_strip --dbg-package=libjson0-dbg

%:
	dh  $@
