Source: cpptest
Section: devel
Priority: optional
Homepage: http://cpptest.sourceforge.net/
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 5), autotools-dev, cdbs, intltool, doxygen
Standards-Version: 3.8.3

Package: libcpptest0
Section: libs
Architecture: any
Suggests: libcpptest-doc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: unit testing framework for C++
 CppTest is a portable and powerful, yet simple, unit testing framework for 
 handling automated tests in C++. The focus lies on usability and extensibility.
 Several output formats, including simple text output, compiler-like output and
 HTML, are supported and new ones are easily added.
 .
 This package contains the libraries for cpptest.

Package: libcpptest-dev
Section: libdevel
Architecture: any
Suggests: libcpptest-doc
Depends: ${shlibs:Depends}, ${misc:Depends}, libcpptest0 (=${binary:Version})
Description: unit testing framework for C++ (development)
 CppTest is a portable and powerful, yet simple, unit testing framework for 
 handling automated tests in C++. The focus lies on usability and extensibility.
 Several output formats, including simple text output, compiler-like output and
 HTML, are supported and new ones are easily added.
 .
 This package contains the development libraries and headers.

Package: libcpptest-doc
Section: doc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: unit testing framework for C++ (documentation)
 CppTest is a portable and powerful, yet simple, unit testing framework for 
 handling automated tests in C++. The focus lies on usability and extensibility.
 Several output formats, including simple text output, compiler-like output and
 HTML, are supported and new ones are easily added.
 .
 This package contains the document files for the libs and dev packages.
