Source: haskell-monoid-transformer
Section: haskell
Priority: extra
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7), cdbs, haskell-devscripts (>= 0.8.13)
  , ghc
  , ghc-prof
Build-Depends-Indep: ghc-doc
Standards-Version: 3.9.4
Homepage: http://hackage.haskell.org/package/monoid-transformer
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-monoid-transformer
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=haskell/haskell-monoid-transformer

Package: libghc-monoid-transformer-dev
Architecture: any
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Transformers for Reader and State Monoids
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 This library provides Monoid Transformers for the Reader Monoid and
 the State Monoid. There's no Monoid Transformer for the Writer Monoid
 since the Writer Monad transforms a Monoid into a Monad.

Package: libghc-monoid-transformer-prof
Architecture: any
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Transformers for Reader and State Monoids; profiling libraries
 This package provides a library for the Haskell programming language
 compiled for profiling.
 See http://www.haskell.org/ for more information on Haskell.
 .
 This library provides Monoid Transformers for the Reader Monoid and
 the State Monoid. There's no Monoid Transformer for the Writer Monoid
 since the Writer Monad transforms a Monoid into a Monad.

Package: libghc-monoid-transformer-doc
Section: doc
Architecture: all
Depends: ${haskell:Depends}, ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: Transformers for Reader and State Monoids; documentation
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 This library provides Monoid Transformers for the Reader Monoid and
 the State Monoid. There's no Monoid Transformer for the Writer Monoid
 since the Writer Monad transforms a Monoid into a Monad.
