#!/usr/bin/make -f

DEB_DH_INSTALL_SOURCEDIR=debian/tmp

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

clean::
	$(RM) Makefile.in aclocal.m4 configure doc/Makefile.in
	$(RM) doc/html/Makefile.in include/Makefile.in ltmain.sh
	$(RM) m4/libtool.m4 m4/ltoptions.m4 m4/ltversion.m4
	$(RM) m4/lt~obsolete.m4 m4/ltsugar.m4 src/Makefile.in

makebuilddir::
	libtoolize -f
	autoreconf -fs
