#!/usr/bin/make -f

include /usr/share/pkg-kde-tools/qt-kde-team/1/debian-qt-kde.mk

DEB_DBG_PACKAGE_kdevplatform5-libs := kdevplatform-dbg
DEB_DBG_PACKAGE_libsublime5 := kdevplatform-dbg
DEB_DH_MAKESHLIBS_ARGS_ALL := -V
