Source: cramfs
Section: utils
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian kernel team <debian-kernel@lists.debian.org>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 3), libz-dev

Package: cramfsprogs
Architecture: any
Depends: ${shlibs:Depends}
Replaces: mkcramfs
Conflicts: mkcramfs
Provides: mkcramfs
Section: utils
Priority: optional
Description: Tools for CramFs (Compressed ROM File System)
 This package contains tools that let you construct a CramFs
 (Compressed ROM File System) image from the contents of a given directory, as
 well as checking a constructed CramFs image and extracting its contents.
 .
 Cram file systems are used for Debian INITRD images.

