#!/usr/bin/make -f
# -*- makefile -*-
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export AUTOPOINT = true

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

override_dh_auto_configure:
	dh_auto_configure -- --disable-unity

override_dh_auto_clean:
	rm -f lens/Makefile lens/data/Makefile lens/src/Makefile
	rm -f libgwibber-gtk/GwibberGtk-0.3.gir \
	      libgwibber-gtk/gwibber-gtk-0.3.vapi \
	      libgwibber-gtk/gwibber-gtk.h \
	      libgwibber-gtk/libgwibber_gtk_la_vala.stamp \
	      libgwibber/gwibber-0.3.vapi \
	      libgwibber/gwibber.h \
	      libgwibber/libgwibber_la_vala.stamp
	dh_auto_clean

override_dh_install:
	find debian/tmp/usr/share/gwibber/plugins -name *.pyc -exec rm {} \;
	find debian/tmp/usr/share/gwibber/plugins -name *.pyo -exec rm {} \;
	install -D -m 0644 debian/gwibber.xpm \
	                   debian/gwibber/usr/share/pixmaps/gwibber.xpm
	
	dh_install

override_dh_installchangelogs:
	dh_installchangelogs -k ChangeLog

override_dh_gencontrol:
	dh_girepository
	dh_gencontrol

%:
	dh $@ --with autoreconf,python2
