Source: gnuclad
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: autotools-dev,
	cdbs (>= 0.4.93~),
	debhelper (>= 9.0.0)
Standards-Version: 3.9.4
Section: graphics
Homepage: https://launchpad.net/gnuclad

Package: gnuclad
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Cladogram generator
 gnuclad tries to help the environment by creating trees. Its
 primary use is generating cladogram trees for the GNU/Linux distro
 timeline project.

