#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	dh_auto_install --buildsystem=python_distutils

override_dh_clean:
	rm -fR build/locale
	dh_clean

get-orig-source:
	dh_testdir
	uscan --force-download --verbose --repack
