Source: avxsynth
Priority: extra
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: debhelper (>= 8.0.0), libffms2-dev, liblog4cpp5-dev, libcairo2-dev, libpango1.0-dev, libjpeg-dev, libqt4-dev, libavcodec-dev, libavformat-dev, libavutil-dev, libpostproc-dev, libswscale-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/avxsynth/avxsynth
#Vcs-Git: git://github.com/avxsynth/avxsynth.git
#Vcs-Browser: https://github.com/avxsynth/avxsynth/commits/master

Package: libavxsynth-dev
Section: libdevel
Architecture: any
Depends: libavxsynth0 (= ${binary:Version})
Description: AvxSynth headers
 AvxSynth is a powerful tool for video post-production. It provides ways of
 editing and processing videos. AvxSynth works as a frameserver, providing
 instant editing without the need for temporary files.
 .
 AvxSynth itself does not provide a graphical user interface (GUI), but instead
 relies on a script system that allows advanced non-linear editing. While this
 may at first seem tedious and unintuitive, it is remarkably powerful and is a
 very good way to manage projects in a precise, consistent, and reproducible
 manner. Because text-based scripts are human readable, projects are inherently
 self-documenting. The scripting language is simple yet powerful, and complex
 filters can be created from basic operations to develop a sophisticated palette
 of useful and unique effects. 
 .
 These files are necessary for developing with libavxsynth.

Package: libavxsynth0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: mplayer
Description: AvxSynth libraries and plugins
 AvxSynth is a powerful tool for video post-production. It provides ways of
 editing and processing videos. AvxSynth works as a frameserver, providing
 instant editing without the need for temporary files.
 .
 AvxSynth itself does not provide a graphical user interface (GUI), but instead
 relies on a script system that allows advanced non-linear editing. While this
 may at first seem tedious and unintuitive, it is remarkably powerful and is a
 very good way to manage projects in a precise, consistent, and reproducible
 manner. Because text-based scripts are human readable, projects are inherently
 self-documenting. The scripting language is simple yet powerful, and complex
 filters can be created from basic operations to develop a sophisticated palette
 of useful and unique effects. 
 .
 These libraries are used by AvxSynth and derived tools.

Package: avxedit
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libavxsynth0 (= ${binary:Version})
Recommends: mplayer
Description: AVXEdit
 AvxSynth is a powerful tool for video post-production. It provides ways of
 editing and processing videos. AvxSynth works as a frameserver, providing
 instant editing without the need for temporary files.
 .
 AvxSynth itself does not provide a graphical user interface (GUI), but instead
 relies on a script system that allows advanced non-linear editing. While this
 may at first seem tedious and unintuitive, it is remarkably powerful and is a
 very good way to manage projects in a precise, consistent, and reproducible
 manner. Because text-based scripts are human readable, projects are inherently
 self-documenting. The scripting language is simple yet powerful, and complex
 filters can be created from basic operations to develop a sophisticated palette
 of useful and unique effects. 
