Source: libsmf
Priority: extra
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Josue Abarca <jmaslibre@debian.org.gt>
Build-Depends: debhelper (>= 9), pkg-config (>= 0.9.0), libglib2.0-dev (>= 2.2), gawk, libncurses5-dev,
 libreadline6-dev, autotools-dev (>= 20100122.1)
Standards-Version: 3.9.4
Section: libs
Vcs-Git: git://git.debian.org/collab-maint/libsmf.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/libsmf.git  
Homepage: http://sourceforge.net/projects/libsmf/

Package: smf-utils
Section: sound
Architecture: any
Depends: libsmf0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: denemo (<< 0.8.14-1)
Description: Utilities to support the smf library
 LibSMF is a BSD-licensed C library for handling SMF ("*.mid") files.
 .
 This package contains smfsh an interactive command-driven frontend to libsmf,
 useful for modifying MIDI files by hand.


Package: libsmf-dev
Section: libdevel
Architecture: any
Depends: libsmf0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, libc-dev, libglib2.0-dev (>= 2.2)
Conflicts: denemo (<< 0.8.14-1)
Description: Development files for the smf library
 LibSMF is a BSD-licensed C library for handling SMF ("*.mid") files.
 .
 This package contains the development libraries, header files needed
 by programs that want to compile with LibSMF
 

Package: libsmf0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LibSMF is a BSD-licensed C library for handling SMF ("*.mid") files
 LibSMF is a BSD-licensed C library for handling SMF ("*.mid")
 files. It transparently handles conversions between time and pulses,
 tempo map handling etc. The only dependencies are C compiler and
 glib. Full API documentation and examples are included.
