Source: emap
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: autotools-dev,
	cdbs (>= 0.4.93~),
	debhelper (>= 8.1.3),
	doxygen
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.enlightenment.org

Package: libemap-dev
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: ${misc:Depends},
	libemap0 (= ${binary:Version})
Description: Enlightenment mapping
 Development package for Enlightenment's mapping library.

Package: libemap0
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enlightenment mapping
 Enlightenment's mapping library.
