Source: apt-show-versions
Section: admin
Priority: optional
Maintainer: Christoph Martin <christoph.martin@uni-mainz.de>
Uploaders: Andreas Hoenen <andreas@hoenen-terstappen.de>
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: po4a
Standards-Version: 3.8.1
Vcs-Browser: http://svn.debian.org/wsvn/pkg-asv
Vcs-Svn: svn://svn.debian.org/pkg-asv/

Package: apt-show-versions
Architecture: all
Depends: ${perl:Depends} | perl-5.005 | perl-5.004, apt, libapt-pkg-perl (>= 0.1.21), libstorable-perl
Description: lists available package versions with distribution
 apt-show-versions parses the dpkg status file and the APT lists for
 the installed and available package versions and distribution and
 shows upgrade options within the specific distribution of the selected
 package.
 .
 This is really useful if you have a mixed stable/testing environment
 and want to list all packages which are from testing and can be
 upgraded in testing.
Homepage: http://alioth.debian.org/projects/pkg-asv/
