Source: kdeartwork
Section: kde
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: kde-sc-dev-latest (>= 4:4.8.4),
 cmake, debhelper (>= 9.0.0), pkg-kde-tools (>= 0.12),
 kde-workspace-dev (>= 4:4.8), libxt-dev, libstreamanalyzer-dev (>= 0.6.3),
 xscreensaver, xscreensaver-data, xscreensaver-data-extra, xscreensaver-gl, xscreensaver-gl-extra, 
 libqt4-opengl-dev, libeigen2-dev, xscreensaver-screensaver-bsod,
 xscreensaver-screensaver-webcollage, libkexiv2-dev, pkg-config
Standards-Version: 3.9.4
Homepage: http://www.kde.org/
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-sc/kdeartwork.git
Vcs-Git: git://git.debian.org/pkg-kde/kde-sc/kdeartwork.git

Package: kdeartwork
Architecture: all
Depends: ${misc:Depends}, kdeartwork-emoticons (>= ${source:Version}),
 kdeartwork-style (>= ${source:Version}), kdeartwork-theme-icon (>= ${source:Version}) | kdelibs5-data,
 kdewallpapers (>= ${source:Version}), kscreensaver (>= ${source:Version}),
 plasma-desktopthemes-artwork (>= ${source:Version}), kdeartwork-theme-window (>= ${source:Version})
Replaces: kdeartwork-misc
Breaks: kdeartwork-misc
Description: themes, styles and other artwork from the official KDE release
 KDE is produced by an international technology team that creates free and open
 source software for desktop and portable computing. Among KDE's products are a
 modern desktop system for Linux and UNIX platforms, comprehensive office
 productivity and groupware suites and hundreds of software titles in many
 categories including Internet and web applications, multimedia, entertainment,
 educational, graphics and software development.
 .
 This metapackage includes a collection of additional artwork provided with the
 official release of KDE.

Package: kdeartwork-emoticons
Architecture: all
Depends: ${misc:Depends}
Description: emoticon collections for chat clients
 This package contains several collections of emoticons for chat clients,
 such as Kopete and Konversation.
 .
 This package is part of the KDE artwork module.


Package: kdewallpapers
Architecture: all
Depends: ${misc:Depends}
Suggests: kde-window-manager | x-window-manager
Replaces: kdebase-workspace-data (<< 4:4.7.0)
Breaks: kdebase-workspace-data (<< 4:4.7.0)
Description: extra KDE artwork wallpapers for the KDE Plasma Workspaces
 This package contains more additional wallpapers for KDE Plasma Workspaces,
 in addition to the ones provided with kde-wallpapers.
 .
 This package is part of the KDE artwork module.


Package: kdeartwork-theme-icon
Depends: ${misc:Depends}, nuvola-icon-theme (>= ${source:Version}),
 kde-icons-mono (>= ${source:Version})
Architecture: all
Description: additional icon themes
 This metapackage installs additional icon themes for KDE.
 .
 This package is part of the KDE artwork module.

Package: kde-icons-nuvola
Section: oldlibs
Architecture: all
Priority: extra
Depends: ${misc:Depends}, nuvola-icon-theme
Description: transitional package for Nuvola icon theme
 Transitional package for ease upgrading from Nuvola icons as shipped
 in KDE 3 series.

Package: nuvola-icon-theme
Section: x11
Architecture: all
Depends: ${misc:Depends}
Replaces: kde-icons-nuvola (<< 4:4.0.0), kdeartwork-theme-icon (<= 4:4.3.0-3)
Conflicts: kde-icons-nuvola (<< 4:4.0.0), kdeartwork-theme-icon (<= 4:4.3.0-3)
Description: Nuvola icon theme
 This package contains the Nuvola icon theme for KDE.
 .
 Nuvola follows the freedesktop.org icon schemes, so it can be used in other
 desktop environments using this specification.
 .
 This package is part of the KDE artwork module.

Package: kde-icons-mono
Architecture: all
Depends: ${misc:Depends}
Replaces: kmouth (<< 4:4.6)
Breaks: kmouth (<< 4:4.6)
Description: monochromatic icons theme
 A monochromatic icon theme, designed for accessibility purposes.
 .
 This package is part of the KDE accessibility module

Package: kdeartwork-theme-window
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: kde-window-manager (<< 4:4.5.80)
Breaks: kde-window-manager (<< 4:4.5.80)
Description: window decoration for the K Window manager (KWin)
 This package contains additional window decorations for K Window Manager
 .
 This package is part of the KDE artwork module.


Package: kdeartwork-style
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: widget styles for applications using Qt or KDE Development Platform
 Currently it provides the following themes:
  * phase
 .
 This package is part of the KDE artwork module.


Package: kscreensaver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kde-workspace-bin
Recommends: kde-window-manager, kscreensaver-xsavers (= ${binary:Version})
Description: Additional screensavers for KScreenSaver
 This package contains screensavers for KScreenSaver.
 .
 KScreenSaver can use XScreenSaver collection of screensavers with the
 'kscreensaver-xsavers' package.
 .
 This package is part of the KDE artwork module.


Package: kscreensaver-xsavers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kde-workspace-bin, xscreensaver-data, xscreensaver-data-extra, xscreensaver-screensaver-bsod
Recommends: kde-window-manager, kscreensaver (= ${binary:Version}), xscreensaver-gl, xscreensaver-gl-extra
Suggests: kscreensaver-xsavers-webcollage (= ${source:Version})
Description: xscreensaver support for KScreenSaver
 This package allows KScreenSaver to use the XScreenSaver collection of
 screensavers.
 .
 This package is part of the KDE artwork module.


Package: kscreensaver-xsavers-webcollage
Architecture: all
Depends: ${misc:Depends}, kscreensaver-xsavers (>= ${source:Version}), xscreensaver-screensaver-webcollage, miscfiles, netpbm
Description: webcollage screensaver support for KScreenSaver
 This package allows KScreenSaver to use the WebCollage screensaver, which
 downloads random pictures from the internet to create a collage.
 .
 IMPORTANT NOTICE: The internet contains all kinds of pictures, some of which
 might be found inappropriate or offensive.
 It is recommended that this screensaver not be used a public environment,
 workplace, or where it may be seen by children.
 .
 Please read /usr/share/doc/kscreensaver-xsavers-webcollage/README.Debian
 after installing this package.
 .
 This package is part of the KDE artwork module.


Package: plasma-desktopthemes-artwork
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: desktop themes for KDE Plasma Workspaces
 This package include several desktops theme to change Plasma look and feel
 .
 This package is part of the KDE artwork module.

Package: kdeartwork-dbg
Section: debug
Architecture: any
Priority: extra
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: kdeartwork (= ${source:Version})
Replaces: kdebase-workspace-dbg (<< 4:4.6.0)
Breaks: kdebase-workspace-dbg (<< 4:4.6.0)
Description: debugging symbols for kdeartwork
 This package contains the debugging files associated with kdeartwork.
 They will automatically be used by gdb for debugging kdeartwork-related
 issues.
 .
 This package is part of the KDE artwork module.
