Source: netpbm-free
Section: graphics
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Andreas Barth <aba@not.so.argh.org>
Standards-Version: 3.9.4
Build-Depends: libtiff-dev, libjpeg-dev, debhelper (>= 7), libpng12-dev, zlib1g-dev, flex, quilt
Homepage: http://netpbm.alioth.debian.org
Vcs-Browser: http://git.debian.org/?p=collab-maint/netpbm-free.git
Vcs-Cvs: :pserver:anonymous@cvs.alioth.debian.org:/cvsroot/netpbm

Package: netpbm
Architecture: any
Depends: libnetpbm10 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Recommends: ghostscript
Conflicts: netpbm-nonfree (<= 1:19940301.1-3), pnmtopng, pbmwbmp, netpbm-dev (<= 2:9.10), ucbmpeg (<= 1r2-6)
Replaces: pnmtopng, pbmwbmp, netpbm-dev, netpbm-nonfree
Provides: pnmtopng, pbmwbmp
Description: Graphics conversion tools between image formats
 Netpbm is a toolkit for manipulation of graphic images, including
 conversion of images between a variety of different formats. There
 are over 220 separate tools in the package including converters for
 more than 80 graphics formats.

Package: libnetpbm10
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Graphics conversion tools shared libraries
 This package contains the shared libraries used by netpbm.
Section: libs

Package: libnetpbm10-dev
Architecture: any
Depends: libnetpbm10 (= ${binary:Version}), ${misc:Depends}
Conflicts: netpbm-dev,libnetpbm9-dev
Replaces: netpbm-dev
Provides: netpbm-dev
Description: Graphics conversion tools development libraries and header files
 This development package contains the library and header
 files for the pbm, pgm, pnm, and ppm graphics formats.
Section: libdevel

Package: libnetpbm9
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Shared libraries for netpbm (v9)
 This package contains shared libraries used to be used by netpbm.
 Now we've switched to a single shared library, look out for libnetpbm10.
 This package is provided for backward compatibility.
Section: libs

Package: libnetpbm9-dev
Architecture: any
Depends: libnetpbm9 (= ${binary:Version}), ${misc:Depends}
Conflicts: netpbm-dev
Replaces: netpbm-dev
Provides: netpbm-dev
Description: Development libraries and header files (v9)
 This development package contains the library and header
 files for the pbm, pgm, pnm, and ppm graphics formats, if the split
 and now deprecated libraries are used.
 .
 This package is provided for backward compatibility.
Section: libdevel
