#!/usr/bin/make -f

VERSION = $(shell head -n1 debian/changelog | sed -e 's/.*(//;s/-.*).*//')

export LIBTOOLIZE = true
DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

ifneq ($(DEB_HOST_ARCH_OS), linux)
  EXTRA_DH_ARG=-Nlinuxvnc
endif

%:
	dh $@ $(EXTRA_DH_ARG) --with autoreconf --dbg-package=libvncserver0-dbg

get-orig-source:	 
	tar fxz ../libvncserver_${VERSION}.orig.tar.gz -C ..
	cd ../LibVNCServer-${VERSION} && rm -fr webclients
	tar czf ../libvncserver_${VERSION}+dfsg.orig.tar.gz ../LibVNCServer-${VERSION}
	rm -fr ../LibVNCServer-${VERSION}
