#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

#DEB_CONFIGURE_EXTRA_FLAGS += --libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH)

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

# We only use XCB for GL. The software rasterization is depended on by
# exactimage (for edisplay) and others in its Xlib variant, and XCB/Xlib appear
# to be exclusive. Actually, we don't even use it for GL anymore, because
# Enlightenment requires Xlib straight-up.
