Source: libsoil
Priority: extra
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Build-Depends: debhelper (>= 6), mesa-common-dev, quilt, libgl1-mesa-dev
Standards-Version: 3.9.4
Vcs-Git: git://git.debian.org/git/pkg-games/libsoil.git/
Vcs-Browser: http://git.debian.org/?p=pkg-games/libsoil.git
Section: libs
Homepage: http://www.lonesock.net/soil.html

Package: libsoil-dev
Section: libdevel
Architecture: any
Depends: libsoil1 (= ${binary:Version})
Description: Simple OpenGL Image Library - development files
 SOIL is a tiny C library used primarily for uploading textures into OpenGL. 
 It supports loading BMP, PNG, JPG, TGA, DDS, PSD and HDR files as well as 
 saving into TGA, BMP and DDS Files.
 .
 It is also able to perform common functions needed in loading OpenGL textures.
 .
 This package contains everything needed to develope software using libsoil.

Package: libsoil1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple OpenGL Image Library
 SOIL is a tiny C library used primarily for uploading textures into OpenGL. 
 It supports loading BMP, PNG, JPG, TGA, DDS, PSD and HDR files as well as
 saving into TGA, BMP and DDS Files.
 .
 It is also able to perform common functions needed in loading OpenGL textures.
 .
 This is the shared library potentially needed for some other software to work.

Package: libsoil1-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsoil1 (= ${binary:Version})
Description: Simple OpenGL Image Library - debug files
 SOIL is a tiny C library used primarily for uploading textures into OpenGL. 
 It supports loading BMP, PNG, JPG, TGA, DDS, PSD and HDR files as well as
 saving into TGA, BMP and DDS Files.
 .
 It is also able to perform common functions needed in loading OpenGL textures.
 .
 This package contains debug symbols for libsoil. It may be useful to debug
 troubles in software related to libsoil.
