Source: sphinxbase
Priority: extra
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://cmusphinx.sourceforge.net/
#Vcs-Git: git://git.debian.org/collab-maint/sphinxbase.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/sphinxbase.git;a=summary

Package: libsphinxbase-dev
Section: libdevel
Architecture: any
Depends: libsphinxbase1 (= ${binary:Version})
Description: CMU Sphinx speech recognition - development files
 CMUSphinx is a speaker-independent large vocabulary continuous speech
 recognizer released under BSD style license. It is also a collection of open
 source tools and resources that allows researchers and developers to build
 speech recognition systems.
 .
 These are the development files necessary for building with Sphinx.

Package: libsphinxbase1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CMU Sphinx speech recognition
 CMUSphinx is a speaker-independent large vocabulary continuous speech
 recognizer released under BSD style license. It is also a collection of open
 source tools and resources that allows researchers and developers to build
 speech recognition systems.
