Source: gnome-disk-utility
Section: admin
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Utopia Maintenance Team <pkg-utopia-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>= 8),
 autotools-dev,
 pkg-config,
 xsltproc,
 gtk-doc-tools,
 gnome-doc-utils,
 rarian-compat,
 libdbus-glib-1-dev (>= 0.76),
 libdvdread-dev,
 libglib2.0-dev (>= 2.22),
 gnome-settings-daemon-dev,
 libpwquality-dev (>= 1.0.0),
 libcanberra-gtk3-dev,
 libsecret-1-dev (>= 0.7),
 libgtk-3-dev,
 udisks2 (>= 2.0.0),
 libatasmart-dev (>= 0.14),
 libgnome-keyring-dev (>= 2.22),
 libunique-3.0-dev,
 libnotify-dev (>= 0.6.1),
 libnautilus-extension-dev (>= 2.91),
 libavahi-ui-gtk3-dev (>= 0.6.25)
Standards-Version: 3.9.4
Homepage: http://git.gnome.org/cgit/gnome-disk-utility/

Package: gnome-disk-utility
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: manage and configure disk drives and media
 gnome-disks is a tool to manage disk drives and media:
 .
  * Format and partition drives.
  * Mount and unmount partitions.
  * Query S.M.A.R.T. attributes.
 .
 It utilizes udisks2.

