Source: nas
Section: sound
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Steve McIntyre <93sam@debian.org>
Build-Depends: autotools-dev, libxau-dev, libsm-dev, libice-dev, libx11-dev, libxt-dev, libxaw7-dev, xutils-dev, bison, flex, file, po-debconf, dpkg-dev (>= 1.16.0)
Standards-Version: 3.9.4

Package: libaudio2
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Provides: nas-lib
Replaces: nas-lib
Pre-Depends: multiarch-support
Multi-Arch: same
Suggests: nas
Description: Network Audio System - shared libraries
 The Network Audio System (NAS) was developed by NCD for playing,
 recording, and manipulating audio data over a network. Like the X
 Window System, it uses the client/server model to separate
 applications from the specific drivers that control audio input and
 output devices.
 .
 This package contains the NAS library (libaudio), needed for both remote
 and local output.
Section: libs

Package: nas
Priority: optional
Architecture: any
Depends: libaudio2 (>= ${binary:Version}), ${shlibs:Depends}, debconf | debconf-2.0
Suggests: audiooss
Description: Network Audio System - local server
 The Network Audio System (NAS) was developed by NCD for playing,
 recording, and manipulating audio data over a network. Like the X
 Window System, it uses the client/server model to separate
 applications from the specific drivers that control audio input and
 output devices.
 .
 This package contains the NAS daemon (nasd), needed for local output
 from NAS.
Section: sound

Package: libaudio-dev
Priority: optional
Architecture: any
Multi-Arch: same
Depends: libaudio2 (= ${binary:Version}), ${shlibs:Depends}
Provides: nas-dev
Replaces: nas-dev
Conflicts: nas-dev
Description: Network Audio System - development files
 The Network Audio System (NAS) was developed by NCD for playing,
 recording, and manipulating audio data over a network. Like the X
 Window System, it uses the client/server model to separate
 applications from the specific drivers that control audio input and
 output devices.
 .
 This package contains the header files and static library (libaudio.a), 
 needed for development of programs using NAS.
Section: libdevel

Package: nas-bin
Priority: extra
Architecture: any
Depends: libaudio2 (>= ${binary:Version}), perl5, ${shlibs:Depends}, libperl4-corelibs-perl
Description: Network Audio System - client binaries
 The Network Audio System (NAS) was developed by NCD for playing,
 recording, and manipulating audio data over a network. Like the X
 Window System, it uses the client/server model to separate
 applications from the specific drivers that control audio input and
 output devices.
 .
 This package contains the example applications and utilities that are
 provided with NAS.
Section: sound

Package: nas-doc
Priority: extra
Architecture: all
Description: Network Audio System - extra documentation
 The Network Audio System (NAS) was developed by NCD for playing,
 recording, and manipulating audio data over a network. Like the X
 Window System, it uses the client/server model to separate
 applications from the specific drivers that control audio input and
 output devices.
 .
 This package contains the extra documentation provided with the NAS
 source, including PostScript copies of papers describing its design.
Section: doc
