#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

PYVERS=$(shell pyversions -vs)

configure: configure-stamp
configure-stamp: patch
	dh_testdir
	
	./configure $(confflags) --enable-maintainer-mode \
        	    --prefix=/usr --mandir=\$${prefix}/share/man \
		    --infodir=\$${prefix}/share/info --disable-scrollkeeper

	touch $@

build: build-stamp

build-stamp: configure-stamp
	$(MAKE)
	
	touch $@

clean:: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	[ ! -f Makefile ] || $(MAKE) clean

	rm -rf debian/patched
	rm -f po/*.gmo

	dh_clean 

install: build-stamp install-arch install-indep

install-indep:
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs -a

	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	mv -f $(CURDIR)/debian/tmp/usr/bin/conduit.real $(CURDIR)/debian/tmp/usr/bin/conduit
	
install-arch:

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_installchangelogs -i NEWS
	dh_installdocs -i
	dh_icons -i
	dh_compress -i
	dh_fixperms -i
	dh_pysupport -i /usr/lib/conduit/modules
	dh_installdeb -i
	dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch:

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
