Source: certificatepatrol
Section: web
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Christoph Biedl <debian.axhn@manchmal.in-ulm.de>
Build-Depends: debhelper (>= 7.0.50~),
    mozilla-devscripts (>= 0.22~),
Standards-Version: 3.9.4
Homepage: http://patrol.psyced.org/

Package: xul-ext-certificatepatrol
Architecture: all
Depends: ${misc:Depends}
Recommends: ${xpi:Recommends}
Provides: ${xpi:Provides}
Enhances: ${xpi:Enhances}
Breaks: ${xpi:Breaks}
Description: Certificate Monitor for Iceweasel/Icedove/Iceape
 This add-on monitors TLS certificates used and notifies about
 changes. Some assistance is given to identify changes that are
 probably harmless, like due to certificate expiration.
