Source: gdesklets
Section: gnome
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: cdbs (>= 0.4.49),
               debhelper (>= 6),
               python-dev,
               python-gnome2-dev (>= 2.12.0),
               python-gtk2-dev (>= 2.10.0),
               python-pyorbit-dev (>= 2.0.1),
               pkg-config,
               swig,
               libglib2.0-dev (>= 2.10.0),
               libgtk2.0-dev (>= 2.10.0),
               libgtop2-dev (>= 2.6.0-4),
               gnome-pkg-tools,
               libxml-parser-perl,
               librsvg2-dev (>= 2.8.0),
               autotools-dev,
               python-support (>= 0.3),
               intltool
Standards-Version: 3.9.4
XS-Python-Version: all

Package: gdesklets
Architecture: any
XB-Python-Version: ${python:Version}
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends},
         python-gnome2 (>= 2.10.0),
         python-gtk2 (>= 2.10.0),
         python,
         python-pyorbit (>= 2.0.1)
Replaces: gdesklets-data (<< 0.21)
Conflicts: gdesklets-data (<< 0.21)
Description: Architecture for desktop applets
 gDesklets is an architecture for "desklets", which are tiny applets
 sitting on your desktop in a symbiotic relationship of eye candy and
 usefulness.
 .
 You can populate your desktop with status meters, icon bars,
 weather sensors, news tickers... whatever you can imagine...
 Virtually anything is possible and may even be available some day.
 .
 This package includes a small number of applets.
