Source: x11proto-composite
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: David Nusinow <dnusinow@debian.org>, Brice Goglin <bgoglin@debian.org>, Cyril Brulebois <kibi@debian.org>
Build-Depends:
 debhelper (>= 5.0.0),
 automake,
 pkg-config,
 xutils-dev (>= 1:7.5~1)
Standards-Version: 3.8.3
Vcs-Git: git://git.debian.org/git/pkg-xorg/proto/x11proto-composite
Vcs-Browser: http://git.debian.org/?p=pkg-xorg/proto/x11proto-composite.git

Package: x11proto-composite-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, x11proto-core-dev, x11proto-fixes-dev
Multi-Arch: foreign
Description: X11 Composite extension wire protocol
 This package provides development headers describing the wire protocol
 for the Composite extension, used to let arbitrary client programs control
 drawing of the final image.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 .
 This package is built from the X.org compositeproto proto module.
