Source: kismet
Section: net
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Francois Gurin <matrix@debian.org>
Build-Depends: debhelper (>> 5.0.0), wireshark-dev, libncurses5-dev, libpcap0.8-dev | libpcap-dev, zlib1g-dev, flex, bison, wget, libmagickcore-dev, libgmp3-dev
Build-Conflicts: bison++
Standards-Version: 3.8.0

Package: kismet
Architecture: any
Depends: ${shlibs:Depends}, wireless-tools, wireshark-common, ${misc:Depends}
Suggests: wget, sox, festival, gpsd, gsfonts, libwww-perl
Description: Wireless 802.11b monitoring tool
 Kismet is a 802.11b wireless network sniffer.  It is capable of sniffing 
 using almost any supported wireless card using the Airo, HostAP, Wlan-NG,
 and Orinoco (with a kernel patch) drivers.
 . 
 Can make use of sox and festival to play audio alarms for network events
 and speak out network summary on discovery.  Optionally works with gpsd
 to map scanning.
