Source: haskell-attoparsec-enumerator
Section: haskell
Priority: extra
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7)
  , cdbs
  , haskell-devscripts (>= 0.8)
  , ghc
  , ghc-prof
  , libghc-attoparsec-dev (>> 0.10.1.1)
  , libghc-attoparsec-dev (<< 0.11)
  , libghc-attoparsec-prof
  , libghc-enumerator-dev (>> 0.4)
  , libghc-enumerator-dev (<< 0.5)
  , libghc-enumerator-prof
Build-Depends-Indep: ghc-doc
  , libghc-attoparsec-doc
  , libghc-enumerator-doc
Standards-Version: 3.9.4
Homepage: http://hackage.haskell.org/package/attoparsec-enumerator
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-attoparsec-enumerator
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-attoparsec-enumerator

Package: libghc-attoparsec-enumerator-dev
Architecture: any
Depends: ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: convert an Attoparsec parser into an iteratee
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 It allows an Attoparsec parser to receive input incrementally from
 an enumerator.  This could be used for parsing large files or
 implementing binary network protocols.

Package: libghc-attoparsec-enumerator-prof
Architecture: any
Depends: ${haskell:Depends}
  , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: convert an Attoparsec parser into an iteratee; profiling libraries
 This package provides a library for the Haskell programming language,
 compiled for profiling.
 See http://www.haskell.org/ for more information on Haskell.
 .
 The library allows an Attoparsec parser to receive input incrementally from
 an enumerator.  This could be used for parsing large files or
 implementing binary network protocols.

Package: libghc-attoparsec-enumerator-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${haskell:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: convert an Attoparsec parser into an iteratee; documentation
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 The library allows an Attoparsec parser to receive input incrementally from
 an enumerator.  This could be used for parsing large files or
 implementing binary network protocols.
