Source: check
Section: devel
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Robert Lemmen <robertle@semistable.com>
Build-Depends: debhelper (>= 7.0.0)
Build-Conflicts: texinfo
Standards-Version: 3.9.4

Package: check
Architecture: any
Homepage: http://check.sourceforge.net/
Depends: ${misc:Depends}, dpkg (>= 1.15.4) | install-info, gawk
Description: unit test framework for C
 Check features a simple interface for defining unit tests, putting 
 little in the way of the developer. Tests are run in a separate 
 address space, so Check can catch both assertion failures and code 
 errors that cause segmentation faults or other signals. The output 
 from unit tests can be used within source code editors and IDEs.
