Source: haskell-criterion
Section: haskell
Priority: extra
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7)
  , cdbs
  , haskell-devscripts (>= 0.8.13)
  , ghc
  , ghc-prof
  , libghc-aeson-dev (>= 0.3.2.12)
  , libghc-aeson-prof
  , libghc-deepseq-dev 
  , libghc-deepseq-prof
  , libghc-hastache-dev (>= 0.1.5)
  , libghc-hastache-prof
  , libghc-mtl-dev (>= 2)
  , libghc-mtl-prof
  , libghc-mwc-random-dev (>= 0.8.0.3)
  , libghc-mwc-random-prof
  , libghc-parsec3-dev (>= 3.1.0)
  , libghc-parsec3-prof
  , libghc-statistics-dev (>= 0.10.0.0)
  , libghc-statistics-prof
  , libghc-transformers-dev
  , libghc-transformers-prof
  , libghc-vector-dev (>= 0.7.1)
  , libghc-vector-prof
  , libghc-vector-algorithms-dev (>= 0.4)
  , libghc-vector-algorithms-prof
Build-Depends-Indep: ghc-doc
  , libghc-aeson-doc
  , libghc-deepseq-doc
  , libghc-hastache-doc
  , libghc-mtl-doc
  , libghc-mwc-random-doc
  , libghc-parsec3-doc
  , libghc-statistics-doc
  , libghc-transformers-doc
  , libghc-vector-doc
  , libghc-vector-algorithms-doc
Standards-Version: 3.9.4
Homepage: http://hackage.haskell.org/package/criterion
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-criterion
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-criterion

Package: libghc-criterion-dev
Architecture: any
Depends: ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Robust, reliable performance measurement and analysis
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 This library provides a powerful but simple way to measure the performance of
 Haskell code.  It provides both a framework for executing and analysing
 benchmarks and a set of driver functions that makes it easy to build and run
 benchmarks, and to analyse their results.
 .
 The fastest way to get started is to read the documentation and examples in
 the Criterion.Main module.

Package: libghc-criterion-prof
Architecture: any
Depends: ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Robust, reliable performance measurement and analysis; profiling libraries
 This package provides a library for the Haskell programming language,
 compiled for profiling.
 See http://www.haskell.org/ for more information on Haskell.
 .
 This library provides a powerful but simple way to measure the performance of
 Haskell code.  It provides both a framework for executing and analysing
 benchmarks and a set of driver functions that makes it easy to build and run
 benchmarks, and to analyse their results.
 .
 The fastest way to get started is to read the documentation and examples in
 the Criterion.Main module.

Package: libghc-criterion-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${haskell:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: Robust, reliable performance measurement and analysis; documentation
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 This library provides a powerful but simple way to measure the performance of
 Haskell code.  It provides both a framework for executing and analysing
 benchmarks and a set of driver functions that makes it easy to build and run
 benchmarks, and to analyse their results.
 .
 The fastest way to get started is to read the documentation and examples in
 the Criterion.Main module.
