#!/usr/bin/make -f
  
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

install/obexpushd::
	rm -f $(CURDIR)/debian/obexpushd/usr/share/doc/obexpushd/LICENSE
	rm -f $(CURDIR)/debian/obexpushd/usr/share/doc/obexpushd/GPLv2.txt

get-orig-source:
	uscan --verbose --download-version $(DEB_UPSTREAM_VERSION) \
		--force-download --repack --no-symlink --rename
