Source: gnome-icon-theme-nuovo
Section: gnome
Priority: optional
Maintainer: Tiago Bortoletto Vaz <tiago@debian.org>
Uploaders: Goedson Teixeira Paixao <goedson@debian.org>, Gustavo Franco <stratus@debian.org>, Marcio Roberto Teixeira <marciotex@pop.com.br>, Otavio Salvador <otavio@debian.org>
Build-Depends: debhelper (>= 5), cdbs
Standards-Version: 3.8.3
Vcs-Browser: http://git.debian.org/?p=collab-maint/gnome-icon-theme-nuovo.git
Vcs-Git: git://git.debian.org/git/collab-maint/gnome-icon-theme-nuovo.git

Package: gnome-icon-theme-nuovo
Architecture: all
Depends: libgtk2.0-0
Description: Dropline Nuovo icon theme for GTK+ 2.x
 This GTK+ theme provides a scalable group of icons to be used by GTK+
 2.x applications like GNOME 2.
