#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.

export COPT=-O2 -Wall -Wno-unused
ifneq ($(findstring debug,$(DEB_BUILD_OPTIONS)),)
COPT+=-g
endif

build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp debian/copyright

	# Add here commands to clean up after the build process.
	$(MAKE) clean
	rm -f bin/antlr bin/dlg bin/sor bin/genmk
	rm -rf debian/pccts

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/<packagename>
	install -d debian/pccts/usr/bin
	install bin/antlr bin/dlg bin/sor bin/genmk debian/pccts/usr/bin
	install -d debian/pccts/usr/include/pccts
	cp -a h/*.h h/*.cpp h/*.c debian/pccts/usr/include/pccts
	install -d debian/pccts/usr/include/pccts/sorcerer
	cp -a sorcerer/h/*.h sorcerer/lib/errsupport.c sorcerer/lib/STreeParser.cpp \
	      debian/pccts/usr/include/pccts/sorcerer

debian/copyright: debian/copyright.in RIGHTS
	cat $^ > $@

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install debian/copyright
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	install -d debian/pccts/usr/share/doc/pccts/examples
	dh_installdocs CHANGES_FROM_131.txt \
		       CHANGES_FROM_133_BEFORE_MR13.txt \
		       CHANGES_SUMMARY.txt \
		       KNOWN_PROBLEMS.txt README history.*
	cp -a --parents sorcerer/README sorcerer/UPDATES \
			debian/pccts/usr/share/doc/pccts
	dh_installexamples testcpp
	cp -a --parents sorcerer/test sorcerer/testcpp \
			support/rexpr support/set support/sym \
			debian/pccts/usr/share/doc/pccts/examples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
	install -d debian/pccts/usr/share/man/man1
	dh_installman antlr/antlr.1 dlg/dlg.1
	dh_installinfo
	dh_installchangelogs -k CHANGES_FROM_133.txt
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
