Source: flactag
Section: sound
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Daniel Pocock <daniel@pocock.com.au>
Build-Depends: cdbs, debhelper (>= 9),libmusicbrainz5-dev(>=5.0.0),libdiscid0-dev,libslang2-dev,libflac++-dev,libneon27-dev,
 libjpeg8-dev | libjpeg-turbo8-dev,
 libunac1-dev,asciidoc,xmlto,pkg-config,dpkg-dev (>= 1.16.1~)
Standards-Version: 3.9.4
Homepage: http://flactag.sourceforge.net/
Vcs-Git: git://git.debian.org/git/collab-maint/flactag.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/flactag.git

Package: flactag
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: cdrdao, cdparanoia, flac, cuetools
Homepage: http://software.gently.org.uk/flactag
Description: Tagger for whole-album FLAC files using data from MusicBrainz
 Tagger for whole-album FLAC files with embedded CUE sheets.
 Data for the tags is retrieved from the MusicBrainz service. Tags are
 written as VORBIS comments or standalone CUESHEET files, and the
 application has the ability to rename a file based on the tags using
 a user-specified template.
 .
 flactag can be run either interactively (to allow the user to select which of
 the results to tag the file with), or in batch mode (allowing files to be
 checked regularly for changes,  and optionally to apply these changes
 automatically).
