Source: din
Section: sound
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Multimedia Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Build-Depends:
 debhelper (>= 9~),
 dh-autoreconf,
 docbook-to-man,
 libfftw3-dev,
 libgl1-mesa-dev,
 libircclient-dev,
 libjack-dev,
 liblo-dev,
 tcl8.5-dev
Standards-Version: 3.9.4
Homepage: http://dinisnoise.org/
Vcs-Git: git://anonscm.debian.org/pkg-multimedia/din.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-multimedia/din.git

Package: din
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Recommends:
 jackd
Description: digital audio synthesizer
 din is a musical instrument and audio synthesizer. It allows one to use
 Bezier curves to draw and sculpt waveforms, create gating and modulation
 patterns and create delay feedback and volume patterns. It's possible to
 create and edit an unlimited number of drones, sculpt their waveform and
 visually modulate them.
 .
 din uses JACK to output audio, it supports MIDI, OSC and an IRC bot for
 input. din can be extended and customised with Tcl scripts too.
