#!/usr/bin/make -f

%:
	dh $@ --parallel --with autoreconf

override_dh_installman:
	dh_installman debian/din.1

override_dh_install:
	dh_install
	chmod a+x debian/din/usr/share/din/m00

override_dh_auto_build:
	docbook-to-man debian/din.1.sgml > debian/din.1
	dh_auto_build
