Source: python-coverage
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Ben Finney <ben+debian@benfinney.id.au>
Section: python
Priority: optional
Standards-Version: 3.9.3
Build-Depends:
    debhelper (>= 8.1~),
    python-setuptools,
    python-all-dev (>= 2.6.6-3~),
    python-all-dbg,
    python (>= 2.6.6-3~)
Homepage: http://nedbatchelder.com/code/coverage/
VCS-bzr: http://anonscm.debian.org/bzr/collab-maint/python-coverage/python-coverage.debian/
VCS-Browser: http://anonscm.debian.org/loggerhead/collab-maint/python-coverage/python-coverage.debian/

Package: python-coverage
Architecture: any
Depends:
    python-pkg-resources,
    libjs-jquery,
    libjs-jquery-tablesorter,
    ${python:Depends},
    ${shlibs:Depends},
    ${misc:Depends}
Description: code coverage tool for Python
 The ‘coverage’ library measures which parts (statements) of a Python
 program are executed while it is run. This is useful for testing:
 those parts of a program that are not executed by the tests have not
 been tested.
 .
 This package contains the Python ‘coverage’ library and the
 ‘python-coverage’ program to perform and report coverage tests.

Package: python-coverage-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    python-coverage (= ${binary:Version}),
    ${shlibs:Depends},
    ${misc:Depends}
Recommends:
    python-dbg
Description: code coverage tool for Python – debug symbols
 The ‘coverage’ library measures which parts (statements) of a Python
 program are executed while it is run. This is useful for testing:
 those parts of a program that are not executed by the tests have not
 been tested.
 .
 This package contains the debugging symbols for the C extension
 libraries in ‘python-coverage’.
