Source: libdatetime-perl
# don't build-depend on libdatetime-format-strptime-perl which depends
# on libdatetime-perl again
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Antonio Radici <antonio@dyne.org>,
 gregor herrmann <gregoa@debian.org>,
 Ryan Niebur <ryan@debian.org>,
 Iulian Udrea <iulian@ubuntu.com>,
 Jonathan Yu <jawnsy@cpan.org>,
 Ansgar Burchardt <ansgar@debian.org>,
 Franck Joncourt <franck@debian.org>,
 Nicholas Bamber <nicholas@periapt.co.uk>,
 Alessandro Ghedini <ghedo@debian.org>
Section: perl
Priority: optional
Build-Depends: perl, debhelper (>= 9.20120312),
 libdatetime-locale-perl,
 libdatetime-timezone-perl,
 libparams-validate-perl,
 libtest-fatal-perl,
 libtest-warn-perl,
 perl (>= 5.11.4) | libmodule-build-perl
Standards-Version: 3.9.4
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-perl/packages/libdatetime-perl.git
Vcs-Git: git://git.debian.org/pkg-perl/packages/libdatetime-perl.git
Homepage: http://datetime.perl.org/

Package: libdatetime-perl
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends},
 libdatetime-locale-perl,
 libdatetime-timezone-perl,
 libparams-validate-perl
Description: module for manipulating dates, times and timestamps
 DateTime is a Perl module which aims to provide a complete, correct, and easy
 to use date/time object implementation. It provides an easy way to manipulate
 dates and times, including date calculations (even addition and subtraction)
 and provides convenient methods for extracting or modifying portions of any
 date or time.
 .
 This module supports the Olson time zone database, meaning that historical
 time zone information, and more importantly, daylight saving time rules, can
 be handled transparently, simply by setting the correct time zone. This is
 done by using the DateTime::TimeZone module.

