Source: brightside
Section: gnome
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Ari Pollak <ari@debian.org>
Build-Depends: debhelper (>= 4.0.0), libgnomeui-dev, libglade2-dev, libwnck-dev (>= 2.10.0), libasound2-dev [linux-any], gconf2, libxml-parser-perl, xdg-utils
Standards-Version: 3.9.4

Package: brightside
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Add reactivity to the corners and edges of your GNOME desktop
 Brightside provides "edge flipping" to allow you to switch to the adjacent
 workspace simply by pressing your mouse against the edge of the screen.
 .
 Brightside also allows you to assign configurable actions to occur while
 you rest the mouse in a corner of the screen. Currently available actions
 comprise:
 .
    * Fade out volume
    * Prevent screensaver starting
    * Start screensaver and lock screen
    * Enter DPMS standby mode
    * Enter DPMS suspend mode
    * Enter DPMS off mode
    * Dim laptop backlight
    * Custom action
