Source: byacc
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Dave Beckett <dajobe@debian.org>
Section: devel
Priority: extra
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 5), dh-autoreconf
Homepage: http://invisible-island.net/byacc/

Package: byacc
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: public domain Berkeley LALR Yacc parser generator
 This package provides a parser generator utility that reads a grammar
 specification from a file and generates an LR(1) parser for it.  The
 parsers consist of a set of LALR(1) parsing tables and a driver
 routine written in the C programming language.  It has a public domain
 license which includes the generated C.
