Source: haskell-categories
Section: haskell
Priority: extra
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7),
               cdbs, 
               haskell-devscripts (>= 0.8.13), 
               ghc, 
               ghc-prof,
               libghc-void-dev (>= 0.5.4.2),
               libghc-void-dev (<< 0.6),
               libghc-void-prof
Build-Depends-Indep: ghc-doc, libghc-void-doc
Standards-Version: 3.9.4
Homepage: http://hackage.haskell.org/package/categories
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-categories
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-categories

Package: libghc-categories-dev
Architecture: any
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: categories from category-extras
 categories from category-extras.
 .
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.

Package: libghc-categories-prof
Architecture: any
Depends: ${haskell:Depends}, ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: categories from category-extras; profiling data
 categories from category-extras.
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling. See http://www.haskell.org/ for more information on Haskell.

Package: libghc-categories-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${haskell:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: categories from category-extras; documentation
 categories from category-extras.
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
