#!/usr/bin/make -f

PACKAGE = libpixman-1-0
SHLIBS  = 0.25.2

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

# Disable Gtk+ autodetection:
override_dh_auto_configure:
	# also avoid loongson2f optimizations on mipsel, see 0.26.0-3
	# changelog entry:
	LS_CFLAGS=" " dh_auto_configure -- --disable-gtk \
	  --libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH)

# Install in debian/tmp to retain control through dh_install:
override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

# Kill *.la files, and forget no-one:
override_dh_install:
	find debian/tmp -name '*.la' -delete
	dh_install --fail-missing

# Debug package:
override_dh_strip:
	dh_strip -p$(PACKAGE) --dbg-package=$(PACKAGE)-dbg
	dh_strip -N$(PACKAGE)

# Shlibs:
override_dh_makeshlibs:
	dh_makeshlibs -p$(PACKAGE) --add-udeb $(PACKAGE)-udeb -V"$(PACKAGE) (>= $(SHLIBS))" -- -c4

%:
	dh $@ --with quilt,autoreconf --builddirectory=build/ --parallel
