Source: hunspell
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian LibreOffice Maintainers <debian-openoffice@lists.debian.org>
 Tim Retout <diocles@debian.org>
Build-Depends: debhelper (>= 8.1.3), libreadline-dev, libncurses5-dev,
 libncursesw5-dev, dpatch, autotools-dev, autoconf, libtool, automake1.9
Standards-Version: 3.9.4
Section: text
Homepage: http://hunspell.sourceforge.net/

Package: libhunspell-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libhunspell-1.3-0 (= ${binary:Version})
Replaces: hunspell (<< 1.2.7-2)
Multi-Arch: same
Description: spell checker and morphological analyzer (development)
 Hunspell is a spell checker and morphological analyzer library and program
 designed for languages with rich morphology and complex word compounding or
 character encoding. It is based on MySpell and features an Ispell-like
 terminal interface using Curses library, an Ispell pipe interface and an
 OpenOffice.org UNO module.
 .
 Main features:
  - Unicode support (first 65535 Unicode character)
  - morphological analysis (in custom item and arrangement style)
  - Max. 65535 affix classes and twofold affix stripping (for agglutinative
    languages, like Azeri, Basque, Estonian, Finnish, Hungarian, Turkish, etc.)
  - Support complex compoundings (for example, Hungarian and German)
  - Support language specific algorithms (for example, handling Azeri
    and Turkish dotted i, or German sharp s)
  - Handling conditional affixes, circumfixes, fogemorphemes,
    forbidden words, pseudoroots and homonyms.
 .
 This package contains the headers and the static library.

Package: libhunspell-1.3-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: hunspell-en-us | hunspell-dictionary | myspell-dictionary
Conflicts: openoffice.org-core (= 2.2.0~rc2-1)
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Description: spell checker and morphological analyzer (shared library)
 Hunspell is a spell checker and morphological analyzer library and program
 designed for languages with rich morphology and complex word compounding or
 character encoding. It is based on MySpell and features an Ispell-like
 terminal interface using Curses library, an Ispell pipe interface and an
 OpenOffice.org UNO module.
 .
 Main features:
  - Unicode support (first 65535 Unicode character)
  - morphological analysis (in custom item and arrangement style)
  - Max. 65535 affix classes and twofold affix stripping (for agglutinative
    languages, like Azeri, Basque, Estonian, Finnish, Hungarian, Turkish, etc.)
  - Support complex compoundings (for example, Hungarian and German)
  - Support language specific algorithms (for example, handling Azeri
    and Turkish dotted i, or German sharp s)
  - Handling conditional affixes, circumfixes, fogemorphemes,
    forbidden words, pseudoroots and homonyms.
 .
 This package contains the shared library.

Package: libhunspell-1.3-0-dbg
Priority: extra
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: hunspell-en-us | hunspell-dictionary | myspell-dictionary
Conflicts: openoffice.org-core (= 2.2.0~rc2-1)
Description: spell checker and morphological analyzer (debug symbols)
 Hunspell is a spell checker and morphological analyzer library and program
 designed for languages with rich morphology and complex word compounding or
 character encoding. It is based on MySpell and features an Ispell-like
 terminal interface using Curses library, an Ispell pipe interface and an
 OpenOffice.org UNO module.
 .
 Main features:
  - Unicode support (first 65535 Unicode character)
  - morphological analysis (in custom item and arrangement style)
  - Max. 65535 affix classes and twofold affix stripping (for agglutinative
    languages, like Azeri, Basque, Estonian, Finnish, Hungarian, Turkish, etc.)
  - Support complex compoundings (for example, Hungarian and German)
  - Support language specific algorithms (for example, handling Azeri
    and Turkish dotted i, or German sharp s)
  - Handling conditional affixes, circumfixes, fogemorphemes,
    forbidden words, pseudoroots and homonyms.
 .
 This package contains the debug symbols for libhunspell

Package: hunspell
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, hunspell-en-us | hunspell-dictionary | myspell-dictionary
Multi-Arch: foreign
Description: spell checker and morphological analyzer (program)
 Hunspell is a spell checker and morphological analyzer library and program
 designed for languages with rich morphology and complex word compounding or
 character encoding. It is based on MySpell and features an Ispell-like
 terminal interface using Curses library, an Ispell pipe interface and an
 OpenOffice.org UNO module.
 .
 Main features:
  - Unicode support (first 65535 Unicode character)
  - morphological analysis (in custom item and arrangement style)
  - Max. 65535 affix classes and twofold affix stripping (for agglutinative
    languages, like Azeri, Basque, Estonian, Finnish, Hungarian, Turkish, etc.)
  - Support complex compoundings (for example, Hungarian and German)
  - Support language specific algorithms (for example, handling Azeri
    and Turkish dotted i, or German sharp s)
  - Handling conditional affixes, circumfixes, fogemorphemes,
    forbidden words, pseudoroots and homonyms.
 .
 This package contains the program with the Ispell-like terminal and pipe
 interfaces.

Package: hunspell-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Conflicts: libmyspell-dev
Replaces: libmyspell-dev, hunspell (<< 1.2.7-2)
Multi-Arch: foreign
Description: tools for hunspell
 Hunspell is a spell checker and morphological analyzer library and program
 designed for languages with rich morphology and complex word compounding or
 character encoding. It is based on MySpell and features an Ispell-like
 terminal interface using Curses library, an Ispell pipe interface and an
 OpenOffice.org UNO module.
 .
 Main features:
  - Unicode support (first 65535 Unicode character)
  - morphological analysis (in custom item and arrangement style)
  - Max. 65535 affix classes and twofold affix stripping (for agglutinative
    languages, like Azeri, Basque, Estonian, Finnish, Hungarian, Turkish, etc.)
  - Support complex compoundings (for example, Hungarian and German)
  - Support language specific algorithms (for example, handling Azeri
    and Turkish dotted i, or German sharp s)
  - Handling conditional affixes, circumfixes, fogemorphemes,
    forbidden words, pseudoroots and homonyms.
 .
 This package contains a the munch/unmunch tools of hunspell and
 ispellaff2myspell for converting ispell affix files for myspell/hunspell
 format.

