Source: xdg-utils
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Per Olofsson <pelle@debian.org>
Section: utils
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9), xmlto, mawk | awk, w3m
Vcs-Git: git://git.debian.org/git/collab-maint/xdg-utils.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/xdg-utils.git
Homepage: http://freedesktop.org/wiki/Software/xdg-user-dirs

Package: xdg-utils
Architecture: all
Depends: ${misc:Depends}
Recommends: libfile-mimeinfo-perl, libnet-dbus-perl, libx11-protocol-perl,
 x11-utils, x11-xserver-utils
Suggests: gvfs-bin
Description: desktop integration utilities from freedesktop.org
 xdg-utils contains utilities for integrating applications with the
 desktop environment, regardless of which desktop environment is used.
 They are part of freedesktop.org's Portland project.
 .
 The following utilities are included:
 .
  * xdg-desktop-menu - Install desktop menu items
  * xdg-desktop-icon - Install icons on the user's desktop
  * xdg-icon-resource - Install icon resources
  * xdg-mime - Gather MIME information about a file
  * xdg-open - Open a URL in the user's preferred application that
               handles the respective URL or file type
  * xdg-email - Open the user's preferred email client, potentially with
                subject and other info filled in
  * xdg-screensaver - Enable, disable, or suspend the screensaver
  * xdg-settings - get various settings (default web browser) from
                   the desktop environment
