Source: kamera
Section: kde
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: kde-sc-dev-latest (>= 4:4.10),
 cmake, debhelper (>= 9.0.0), pkg-kde-tools (>= 0.12),
 kdelibs5-dev (>= 4:4.10), libgphoto2-2-dev
Standards-Version: 3.9.4
Homepage: https://projects.kde.org/projects/kde/kdegraphics/kamera
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-sc/kamera.git
Vcs-Git: git://git.debian.org/pkg-kde/kde-sc/kamera.git

Package: kamera
Architecture: any
Section: graphics
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: digital camera support for KDE applications
 This package allows any KDE application to access and manipulate pictures on
 a digital camera.
 .
 This package is part of the KDE graphics module.

Package: kamera-dbg
Architecture: any
Section: debug
Priority: extra
Breaks: kdegraphics-dbg (<< 4:4.6.90)
Replaces: kdegraphics-dbg (<< 4:4.6.90)
Depends: ${misc:Depends}, kamera (= ${binary:Version})
Description: debugging symbols for kamera
 This package contains debugging files used to investigate problems with
 the kamera binaries.
 .
 This package is part of the KDE graphics module.
