Source: obexftp
Section: comm
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Hendrik Sattler <debian@hendrik-sattler.de>
Build-Depends: debhelper (>= 9.0.0),
	libopenobex1-dev (>= 1.3-3) | libopenobex2-dev,
	libbluetooth-dev, quilt (>= 0.45), pkg-config, python-central, swig, doxygen, python-dev, ruby-dev, ruby, chrpath
Standards-Version: 3.9.4
XS-Python-Version: current
Homepage: http://triq.net/obex

Package: obexftp
Architecture: any
Section: comm
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libobexftp1
Provides: flexmem
Description: file transfer utility for devices that use the OBEX protocol
 OBEX, the OBject EXchange protocol, can best be described as binary HTTP.
 OBEX is optimized for ad-hoc links and can be used to exchange
 all kind of objects like files, pictures, calendar entries (vCal)
 and business cards (vCard) over bluetooth, IrDA, USB and serial cable
 links.
 .
 This is the command line front-end that fully uses the capabilities of
 libobexftp.

Package: libbfb0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: bfb protocol library
 This library adds support for OBEX protocol over BFB/BFC, some Siemens
 Mobile specific protocols that are used with the serial cables for S25,
 S35 and almost all later phones that include a modem, also those
 labeled as BenQ Mobile.
 .
 This package contains the runtime library.

Package: libbfb0-dev
Architecture: any
Section: libdevel
Provides: libbfb-dev
Conflicts: libbfb-dev, libobexftp-dev (<< 0.22)
Depends: libbfb0 (= ${binary:Version})
Description: bfb protocol library - development files
 This library adds support for OBEX protocol over BFB/BFC, some Siemens
 Mobile specific protocols that are used with the serial cables for S25,
 S35 and almost all later phones that include a modem, also those
 labeled as BenQ Mobile.
 .
 This package contains the development files.

Package: libmulticobex1
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: multi-protocol cable OBEX library
 This library add support for making use of several ways to use OBEX
 over serial lines. Phones from several vendors are supported.
 .
 This package contains the runtime library.

Package: libmulticobex1-dev
Architecture: any
Section: libdevel
Provides: libmulticobex-dev
Conflicts: libmilticobex-dev, libobexftp-dev (<< 0.22)
Depends: libmulticobex1 (= ${binary:Version}), libbfb-dev
Description: multi-protocol cable OBEX library - development files
 This library add support for making use of several ways to use OBEX
 over serial lines. Phones from several vendors are supported.
 .
 This package contains the development files.

Package: libobexftp0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: object exchange file transfer library
 OBEX, the OBject EXchange protocol, can best be described as binary HTTP.
 OBEX is optimized for ad-hoc links and can be used to exchange
 all kind of objects like files, pictures, calendar entries (vCal)
 and business cards (vCard) over bluetooth, IrDA, USB and serial cable
 links.
 .
 This package contains the runtime library.

Package: libobexftp0-dev
Architecture: any
Section: libdevel
Provides: libobexftp-dev
Conflicts: libobexftp-dev (<< 0.22)
Replaces: libobexftp-dev (<< 0.22)
Depends: libobexftp0 (= ${binary:Version}), libmulticobex1-dev, libopenobex1-dev
Description: object exchange file transfer library - development files
 OBEX, the OBject EXchange protocol, can best be described as binary HTTP.
 OBEX is optimized for ad-hoc links and can be used to exchange
 all kind of objects like files, pictures, calendar entries (vCal)
 and business cards (vCard) over bluetooth, IrDA, USB and serial cable
 links.
 .
 This package contains the development files.

Package: python-obexftp
Architecture: any
Section: python
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Depends: libobexftp0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Python binding to the object exchange file transfer library
 OBEX, the OBject EXchange protocol, can best be described as binary HTTP.
 OBEX is optimized for ad-hoc links and can be used to exchange
 all kind of objects like files, pictures, calendar entries (vCal)
 and business cards (vCard) over bluetooth, IrDA, USB and serial cable
 links.
 .
 This package contains the binding for the Python programming language.

Package: libobexftp-ruby
Architecture: any
Section: ruby
Depends: libobexftp0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: ruby binding to the object exchange file transfer library
 OBEX, the OBject EXchange protocol, can best be described as binary HTTP.
 OBEX is optimized for ad-hoc links and can be used to exchange
 all kind of objects like files, pictures, calendar entries (vCal)
 and business cards (vCard) over bluetooth, IrDA, USB and serial cable
 links.
 .
 This package contains the binding for the Ruby programming language.

Package: libobexftp-perl
Architecture: any
Section: perl
Depends: libobexftp0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Description: perl binding to the object exchange file transfer library
 OBEX, the OBject EXchange protocol, can best be described as binary HTTP.
 OBEX is optimized for ad-hoc links and can be used to exchange
 all kind of objects like files, pictures, calendar entries (vCal)
 and business cards (vCard) over bluetooth, IrDA, USB and serial cable
 links.
 .
 This package contains the binding for the Perl programming language.
