Source: haskell-xss-sanitize
Priority: extra
Section: haskell
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7)
  , haskell-devscripts (>= 0.8.13)
  , cdbs
  , ghc
  , ghc-prof
  , libghc-attoparsec-dev (>> 0.10.0.3)
  , libghc-attoparsec-dev (<< 1)
  , libghc-attoparsec-prof
  , libghc-tagsoup-dev (>> 0.12.2)
  , libghc-tagsoup-dev (<< 1)
  , libghc-tagsoup-prof
  , libghc-utf8-string-dev (>> 0.3)
  , libghc-utf8-string-dev (<< 1)
  , libghc-utf8-string-prof
  , libghc-network-dev (>> 2)
  , libghc-network-dev (<< 3)
  , libghc-network-prof
  , libghc-css-text-dev (>> 0.1.1),
  , libghc-css-text-dev (<< 0.2)
  , libghc-css-text-prof,
  , libghc-text-dev (>> 0.11)
  , libghc-text-dev (<< 1)
  , libghc-text-prof
  , libghc-hspec-dev (>> 0.8)
  , libghc-hunit-dev (>> 1.2)
Build-Depends-Indep: ghc-doc
  , libghc-attoparsec-doc,
 libghc-tagsoup-doc,
 libghc-utf8-string-doc,
 libghc-network-doc,
 libghc-css-text-doc,
 libghc-text-doc,
Standards-Version: 3.9.4
Homepage: http://hackage.haskell.org/package/xss-sanitize
Vcs-Darcs: http://darcs.debian.org/darcs/pkg-haskell/haskell-xss-sanitize
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-xss-sanitize

Package: libghc-xss-sanitize-dev
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Provides: ${haskell:Provides}
Description: Library to sanitize HTML and prevent XSS attacks - GHC libraries
 This library is able to parse strings that contain HTML code and check
 for the presence of potentially malicious tags that could trigger XSS
 (Cross-Site Scripting). It can be used in a Web application when using
 HTML code coming from an untrusted party.
 .
 Moreover, this library is also able to check for unbalanced tags and
 tries to fix them (even though it could produce invalid HTML).
 .
 This package contains the libraries compiled for GHC.

Package: libghc-xss-sanitize-prof
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Provides: ${haskell:Provides}
Description: Library to sanitize HTML and prevent XSS attacks - GHC profiling libraries
 This library is able to parse strings that contain HTML code and check
 for the presence of potentially malicious tags that could trigger XSS
 (Cross-Site Scripting). It can be used in a Web application when using
 HTML code coming from an untrusted party.
 .
 Moreover, this library is also able to check for unbalanced tags and
 tries to fix them (even though it could produce invalid HTML).
 .
 This package contains the profiling libraries compiled for GHC.

Package: libghc-xss-sanitize-doc
Section: doc
Architecture: all
Depends:
 ${haskell:Depends},
 ${misc:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Description: Library to sanitize HTML and prevent XSS attacks - documentation
 This library is able to parse strings that contain HTML code and check
 for the presence of potentially malicious tags that could trigger XSS
 (Cross-Site Scripting). It can be used in a Web application when using
 HTML code coming from an untrusted party.
 .
 Moreover, this library is also able to check for unbalanced tags and
 tries to fix them (even though it could produce invalid HTML).
 .
 This package contains the library documentation.
