Source: fonts-junicode
Section: fonts
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Fonts Task Force <pkg-fonts-devel@lists.alioth.debian.org>
Build-Depends: debhelper (>= 8.1.0~), fontforge, xgridfit, libxml2-utils, python-libxml2, ttfautohint, python-fontforge
Standards-Version: 3.9.4
Homepage: http://junicode.sourceforge.net/

Package: fonts-junicode
Architecture: all
Recommends: fontconfig
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Replaces: ttf-junicode (<< 0.6.17+20110525-1)
Breaks: ttf-junicode (<< 0.6.17+20110525-1)
Provides: ttf-junicode
Suggests: fontforge
Description: Unicode font for medievalists (Latin, IPA and Runic)
 This is a TrueType Unicode font targeted at medievalists, but including
 the full range of characters for languages written in the Latin script,
 International Phonetic Alphabet, Uralic Phonetic Alphabet and Runic. It has
 regular, italic, bold and bold-italic fonts.

Package: ttf-junicode
Depends: fonts-junicode, ${misc:Depends}
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional dummy package
 This package is a dummy transitional package. It can be safely removed.
