Source: haskell-pcap
Priority: optional
Section: haskell
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Build-Depends:
    cdbs
  , debhelper (>= 7.0)
  , haskell-devscripts (>= 0.8)
  , ghc (>= 6.12)
  , ghc-prof
  , libghc-network-dev
  , libghc-network-prof
  , libpcap0.8-dev
Build-Depends-Indep:
    ghc-doc
  , libghc-network-doc
  , haddock
Standards-Version: 3.9.4
Homepage: https://github.com/bos/pcap
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-pcap
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-pcap

Package: libghc-pcap-dev
Architecture: any
Depends:
    ${haskell:Depends}
  , ${misc:Depends}
  , ${shlibs:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Haskell wrapper around the C libpcap library
 This library provides Haskell bindings for most of the libpcap API as of
 libpcap version 0.9.7. The bindings are divided into a very efficient
 low-level wrapper, Network.Pcap.Base, and a higher-level module, Network.Pcap,
 that's easier to use.
 .
 This package provides a library written in the Haskell programming
 language. See http://www.haskell.org/ for more information on Haskell.

Package: libghc-pcap-prof
Architecture: any
Depends:
    ${haskell:Depends}
  , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Haskell wrapper around the C libpcap library; profiling libraries
 This library provides Haskell bindings for most of the libpcap API as of
 libpcap version 0.9.7. The bindings are divided into a very efficient
 low-level wrapper, Network.Pcap.Base, and a higher-level module, Network.Pcap,
 that's easier to use.
 .
 This package provides a library written in the Haskell programming language,
 compiled for profiling. See http://www.haskell.org/ for more information on
 Haskell.

Package: libghc-pcap-doc
Section: doc
Architecture: all
Depends:
    ${haskell:Depends}
  , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: Haskell wrapper around the C libpcap library; documentation
 This library provides Haskell bindings for most of the libpcap API as of
 libpcap version 0.9.7. The bindings are divided into a very efficient
 low-level wrapper, Network.Pcap.Base, and a higher-level module, Network.Pcap,
 that's easier to use.
 .
 This package provides documentation for a library written in the Haskell
 programming language. See http://www.haskell.org/ for more information on
 Haskell.
