Source: libipc-sharelite-perl
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Section: perl
Priority: optional
Standards-Version: 3.9.4
Homepage: http://search.cpan.org/dist/IPC-ShareLite/
Vcs-Git: git://git.debian.org/pkg-perl/packages/libipc-sharelite-perl.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-perl/packages/libipc-sharelite-perl.git
Build-Depends: perl, debhelper (>= 9), libtest-pod-perl

Package: libipc-sharelite-perl
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Description: Perl module that provides a simple interface to shared memory 
 IPC::ShareLite provides a simple interface to shared memory, allowing
 data to be efficiently communicated between processes. Your operating
 system must support SysV IPC (shared memory and semaphores) in order to
 use this module.   

