var/lib/texmf/ls-R-TEXLIVEDIST usr/share/texlive/texmf-dist/ls-R
var/lib/texmf/ls-R-TEXLIVEMAIN usr/share/texlive/texmf/ls-R
var/lib/texmf/updmap.cfg-TEXLIVEDIST usr/share/texlive/texmf-dist/web2c/updmap.cfg
var/lib/texmf/updmap.cfg-DEBIAN usr/share/texmf/web2c/updmap.cfg
