Source: pm-utils
Section: admin
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Tim Dijkstra <tim@famdijkstra.org>
Build-Depends: cdbs, debhelper (>= 7), xmlto
Standards-Version: 3.9.4
Vcs-Git: git://git.debian.org/git/collab-maint/pm-utils.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/pm-utils.git;a=summary
Homepage: http://pm-utils.freedesktop.org/

Package: pm-utils
Architecture: all
Depends: ${misc:Depends}, powermgmt-base
Recommends: vbetool, procps, hdparm, kbd | console-tools
Suggests: cpufrequtils, wireless-tools, ethtool, radeontool
Conflicts: pm-utils-powersave-policy, laptop-mode-tools (<< 1.55)
Replaces: pm-utils-powersave-policy, laptop-mode-tools (<< 1.55)
Description: utilities and scripts for power management
 This package provides simple shell command line tools to suspend and
 hibernate your computer.
