Source: freewrl
Section: contrib/graphics
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Michel Briand <michelbriand@free.fr>
Build-Depends: debhelper (>= 9.0.0),
 build-essential,
 pkg-config,
 autoconf,
 automake,
 libtool,
 x11proto-print-dev,
 libxxf86vm-dev,
 libgl1-mesa-dev | libgl-dev,
 libglu1-mesa-dev | libglu-dev,
 libglew1.5-dev, 
 libxaw7-dev,
 libmotif-dev,
 libimlib2-dev,
 libxml2-dev,
 libexpat1-dev,
 libmozjs-dev,
 libxp-dev,
 xulrunner-dev,
 gcj | java-compiler,
 libfontconfig1-dev
Standards-Version: 3.9.4
Homepage: http://freewrl.sourceforge.net
Vcs-Browser: http://git.debian.org/?p=pkg-multimedia/freewrl.git
Vcs-Git: git://git.debian.org/git/pkg-multimedia/freewrl.git


Package: freewrl
Architecture: any
Depends: default-jre | java-runtime, ${shlibs:Depends}, ${misc:Depends}
Recommends: ttf-bitstream-vera, wget, sox, convert
Description: X3D/VRML browser
 FreeWRL is a 3D viewer that support VRML and X3D (successor of VRML).
 It is released as a standalone program (freewrl) and as a Web browser plugin.
 .
 It uses OpenGL for rendering and supports GLSL Shaders.
