Source: dbus-test-runner
Section: gnome
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               cdbs (>= 0.4.41),
               libdbus-glib-1-dev,
               xvfb,
               gvfs,
               dh-autoreconf,
               dbus
Standards-Version: 3.9.4
Homepage: https://launchpad.net/dbus-test-runner

Package: dbus-test-runner
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         gvfs-backends,
         dbus
Suggests: bustle
Description: Runs tests under a new DBus session
 A simple little executable for running a couple of programs under a 
 new DBus session.
 
Package: libdbustest1
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Runs tests under a new DBus session
 A simple little executable for running a couple of programs under a 
 new DBus session.
 .
 This package contains shared libraries.
 
Package: libdbustest1-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libglib2.0-dev,
         libdbustest1 (= ${binary:Version})
Description: Runs tests under a new DBus session
 A simple little executable for running a couple of programs under a 
 new DBus session.
 .
 This package contains files that are needed to build.
