Source: gnome-photo-printer
Section: gnome
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Michael Schlueter <schlue@debian.org>
Build-Depends: debhelper (>= 4.0.0), pkg-config, libgnomeui-dev, libgnomeprint2.2-dev, libgnomeprintui2.2-dev, intltool, libglade2-dev
Standards-Version: 3.7.2

Package: gnome-photo-printer
Architecture: any
Depends: ${shlibs:Depends}
Description: tool for Gnome to print several photos on one page
 Gnome Photo Printer is intended for printing photos in an easy way. Just drag
 your Photos from Nautilus to the Gnome Photo Printer window and drop it. Make
 some selections like Photo or Paper size, hit Preview or Print, and see your
 pictures printed.
