Source: cinepaint
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: autotools-dev,
	cdbs (>= 0.4.93~),
	debhelper (>= 9.0.0),
	doxygen,
	libfltk1.3-dev,
	libfontconfig-dev | libfontconfig1-dev,
	libfreetype6-dev,
	libfribidi-dev,
	libgif-dev | libgif5-dev | libgif4-dev,
	libgl1-mesa-dev,
	libgutenprintui2-dev,
	libharfbuzz-dev,
	libjpeg-dev,
	liblcms1-dev,
	liboyranos-dev,
	libpixman-1-dev (>= 0.28.0-SprezzOS2),
	libpng-dev,
	libtiff-dev | libtiff5-dev | libtiff4-dev,
	libxcb-glx0-dev,
	libxcb-render-util0-dev,
	libxrender-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.enlightenment.org

Package: cinepaint
Section: graphics
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
Description: High resolution, high dynamic range photo editing
 CinePaint is a deep paint image retouching tool that supports higher color
 fidelity than ordinary painting tools. CinePaint opens high fidelity image
 file formats such as DPX, 16-bit TIFF, and OpenEXR, and conventional formats
 like JPEG and PNG. These are the CinePaint binaries.

Package: libcinepaint-dev
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: ${misc:Depends},
	libcinepaint1 (= ${binary:Version}),
	libfltk1.3-dev,
	libfontconfig-dev,
	libfreetype6-dev,
	libfribidi-dev,
	libharfbuzz-dev,
	libgif-dev,
	libgutenprint-dev,
	libharfbuzz-dev,
	libjpeg-dev,
	liboyranos-dev,
	libpixman-1-dev (>= 0.28.0-SprezzOS2),
	libpng-dev,
	libtiff-dev
Description: High resolution, high dynamic range photo editing -- development
 CinePaint is a deep paint image retouching tool that supports higher color
 fidelity than ordinary painting tools. CinePaint opens high fidelity image
 file formats such as DPX, 16-bit TIFF, and OpenEXR, and conventional formats
 like JPEG and PNG.
 .
 These are the development files.

Package: libcinepaint1
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
Description: High resolution, high dynamic range photo editing
 CinePaint is a deep paint image retouching tool that supports higher color
 fidelity than ordinary painting tools. CinePaint opens high fidelity image
 file formats such as DPX, 16-bit TIFF, and OpenEXR, and conventional formats
 like JPEG and PNG. These are the libraries shipped with CinePaint.
