Source: haskell-hxt-cache
Section: haskell
Priority: extra
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7.0.50~),
	haskell-devscripts(>=0.7),
	cdbs,
	ghc,
	ghc-prof,
	ghc-doc,
	libghc-sha-dev,
	libghc-sha-prof,
	libghc-sha-doc,
	libghc-deepseq-dev,
	libghc-deepseq-prof,
	libghc-deepseq-doc,
	libghc-hxt-dev (>= 9), libghc-hxt-dev (<< 10),
	libghc-hxt-prof (>= 9), libghc-hxt-prof (<< 10),
	libghc-hxt-doc (>= 9), libghc-hxt-doc (<< 10),
Standards-Version: 3.9.4
Homepage: http://www.fh-wedel.de/~si/HXmlToolbox/

Package: libghc-hxt-cache-dev
Architecture: any
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Cache for HXT XML Documents and other binary data
 This is a part of Haskell XML Toolbox.
 .
 Extension for caching XML documents and other binary data in cache directory
 of the local filesystem.
 .
 This package contains the libraries compiled for GHC.

Package: libghc-hxt-cache-prof
Architecture: any
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Cache for HXT XML Documents and other binary data; profiling library
 This is a part of Haskell XML Toolbox.
 .
 Extension for caching XML documents and other binary data in cache directory
 of the local filesystem.
 .
 This package contains the profiling libraries compiled for GHC.

Package: libghc-hxt-cache-doc
Section: doc
Architecture: all
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Cache for HXT XML Documents and other binary data; documentation
 This is a part of Haskell XML Toolbox.
 .
 Extension for caching XML documents and other binary data in cache directory
 of the local filesystem.
 .
 This package contains the library documentation.
