#!/usr/bin/make -f

%:
	dh --with quilt $@

override_dh_auto_configure:
	CFLAGS="$(CFLAGS) -ansi" CXXFLAGS="$(CXXFLAGS) -ansi" dh_auto_configure

override_dh_makeshlibs:
	dh_makeshlibs -V

.PHONY: override_dh_auto_test
