Source: libxaw3dxft
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: autotools-dev,
	cdbs (>= 0.4.93~),
	debhelper (>= 9.0.0),
	doxygen,
	libxaw3dxft-generic-loaders1 (>= 1.7.5),
	libfontconfig-dev | libfontconfig1-dev,
	libfreetype6-dev,
	libfribidi-dev,
	libgif-dev | libgif5-dev | libgif4-dev,
	libgl1-mesa-dev,
	libharfbuzz-dev,
	libjpeg-dev,
	libpixman-1-dev (>= 0.28.0-SprezzOS2),
	libpng-dev,
	libtiff-dev | libtiff5-dev | libtiff4-dev,
	libxcb-glx0-dev,
	libxcb-render-util0-dev,
	libxrender-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://sourceforge.net/projects/sf-xpaint/

Package: libxaw3dxft-dev
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: ${misc:Depends},
	libxaw3dxft1 (= ${binary:Version}),
	libfontconfig-dev,
	libfreetype6-dev,
	libfribidi-dev,
	libharfbuzz-dev,
	libgif-dev,
	libharfbuzz-dev,
	libjpeg-dev,
	libpixman-1-dev (>= 0.28.0-SprezzOS2),
	libpng-dev,
	libtiff-dev
Description: xaw3d library for xpaint -- development
 This package was once part of XPaint. It adds Unicode and FreeType support
 to Xaw3d, with which it aims to be source-compatible.
 .
 This is the development package.

Package: libxaw3dxft1
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends}
Description: xaw3d library for xpaint
 This package was once part of XPaint. It adds Unicode and FreeType support
 to Xaw3d, with which it aims to be source-compatible.
