#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -enable-gtk-doc --with-systemdsystemunitdir=/lib/systemd/system/

override_dh_auto_build:
	dh_auto_build
	# make -C po udisks.pot

override_dh_install:
	dh_install -X.la --fail-missing
