Source: libmusicbrainz-discid-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), perl (>= 5.10) | libmodule-build-perl,
 pkg-config, libdiscid0-dev, libtest-pod-perl
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Standards-Version: 3.9.4
Homepage: http://search.cpan.org/dist/MusicBrainz-DiscID/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libmusicbrainz-discid-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libmusicbrainz-discid-perl/

Package: libmusicbrainz-discid-perl
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Perl interface to the MusicBrainz libdiscid library
 MusicBrainz::DiscID is a Perl interface to the MusicBrainz libdiscid library.
 It is useful for calculating a MusicBrainz DiscID from an audio compact disc
 in the drive. The coding style differs slightly from the C library as this
 module supports Perl's Object-Oriented programming features.
