Source: libxspf
Section: libs
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Xiph.org Maintainers <pkg-xiph-maint@lists.alioth.debian.org>
Build-Depends: autotools-dev,
	debhelper,
	doxygen,
	libexpat1-dev,
	liburiparser-dev,
	libcpptest-dev
Standards-Version: 3.9.4
Homepage: http://libspiff.sourceforge.net
XS-VCS-Bzr: http://bzr.debian.org/bzr/pkg-xiph/libspiff

Package: libxspf4
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends}
Provides: libspiff1
Replaces: libspiff1, libxspf1
Description: library to read/write XSPF, the XML Shareable Playlist Format
 libXSPF (formerly libSpiff) implements reading and writing of playlists in
 the XML Shareable Playlist Format (XSPF), as developed by the Xiph.Org
 Foundation. XSPF enables to share playlists among different applications
 and devices which implement the XSPF standard.
 .
 Features of libSpiff include:
 .
  * full conformance to the XSPF specification
  * support for XSPF versions 0 and 1
  * full support for XSPF extensions
  * full support for XML namespaces
  * fast (XML parsing is done by Expat)
  * unicode support
 .
 This package provides a C++ library, and a C wrapper.

Package: libxspf-dev
Architecture: any
Section: libdevel
Depends: libxspf4 (= ${binary:Version}), ${shlibs:Depends},
	${misc:Depends}
Provides: libspiff-dev
Replaces: libspiff-dev
Description: development files for libSpiff
 This package provides the development files for libXSPF, a library to
 read and write files in the XML Shareable Playlist Format (XSPF). Install
 it if you want to compile a program that makes use of this library. This
 library used to be known as libSpiff.
