Source: xtrans
Section: x11
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Build-Depends:
 debhelper (>= 5.0.0),
 quilt,
 automake,
 xutils-dev (>= 1:7.6+2),
 pkg-config,
# docs:
 xmlto (>= 0.0.22),
 xorg-sgml-doctools (>= 1:1.8),
 w3m,
Standards-Version: 3.9.3
Vcs-Git: git://git.debian.org/git/pkg-xorg/lib/xtrans
Vcs-Browser: http://git.debian.org/?p=pkg-xorg/lib/xtrans.git

Package: xtrans-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: foreign
Description: X transport library (development files)
 xtrans includes a number of routines to make X implementations
 transport-independent; at time of writing, it includes support for UNIX
 sockets, IPv4, IPv6, and DECnet.
 .
 xtrans is not actually a library in itself; it includes .c files which are
 then used in the compilation of X servers, libraries, et al.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 .
 This module can be found at
 git://anongit.freedesktop.org/git/xorg/lib/libxtrans
