Source: electricsheep
Section: x11
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Roberto C. Sanchez <roberto@connexer.com>
Build-Depends: debhelper (>= 5), quilt, autotools-dev, autoconf, pkg-config, x11proto-core-dev, libglade2-dev (>= 2.5.0), libgtk2.0-dev (>= 2.7.0), libavformat-dev
Standards-Version: 3.9.4
Homepage: http://www.electricsheep.org

Package: electricsheep
Architecture: any
Depends: mplayer, flam3 (>= 2.7.19), debconf | debconf-2.0, curl, xloadimage, libjpeg-progs, ${shlibs:Depends}, ${misc:Depends}
Description: screensaver showing collective dream of sleeping computers
 Electric sheep is the collective dream of sleeping computers
 from all over the internet. Less poetically, it is an Internet server and
 xscreensaver module that displays MPEG video of an animated fractal flame.
 In the background, it contributes render cycles to the next animation.
 Periodically, it uploads completed frames to the server, where they are
 compressed for distribution to all clients.
