#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/quilt/quilt.make

# The GNOME screensaver path for screensavers .desktop files
GNOME_SS_PATH=/usr/share/applications/screensavers
# The path where xscreensaver looks for an .xml file
XSS_CONF_PATH=/usr/share/xscreensaver/config

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS = -Wall -g

#ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
#else
#	CFLAGS += -O2
#endif

config.status: configure $(QUILT_STAMPFN)
	dh_testdir
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif
	./configure $(confflags) \
	            --prefix=/usr \
				--datadir=\$${prefix}/share \
				--mandir=\$${prefix}/share/man \
				--infodir=\$${prefix}/share/info \
	            --host=$(DEB_HOST_GNU_TYPE) \
	            --build=$(DEB_BUILD_GNU_TYPE)

build: build-stamp

build-stamp: config.status
	dh_testdir
	$(MAKE) CFLAGS="$(CFLAGS)"
	touch build-stamp

clean: clean-patched unpatch
clean-patched: $(QUILT_STAMPFN)
	dh_testdir
	dh_testroot
	rm -f build-stamp 
	rm -f debian/*.substvars
	[ ! -f Makefile ] || $(MAKE) distclean
	rm -f config.sub config.guess
	rm -f config.status
	rm -f config.log
	dh_clean

install: build 
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/electricsheep
	# The xscreensaver .xml config file
	mkdir -p $(CURDIR)/debian/electricsheep$(XSS_CONF_PATH)
	cp $(CURDIR)/electricsheep.xml \
		$(CURDIR)/debian/electricsheep$(XSS_CONF_PATH)
	# The Application .desktop file
	mkdir -p $(CURDIR)/debian/electricsheep$(GNOME_SS_PATH)
	cp $(CURDIR)/debian/default-files/electricsheep.desktop.gnome \
		$(CURDIR)/debian/electricsheep$(GNOME_SS_PATH)/electricsheep.desktop
	# ... and for kscreensaver
	mkdir -p $(CURDIR)/debian/electricsheep/usr/share/applnk/System/ScreenSavers
	cp $(CURDIR)/debian/default-files/electricsheep.desktop $(CURDIR)/debian/electricsheep/usr/share/applnk/System/ScreenSavers
	# cleanup
	rm -rf $(CURDIR)/debian/electricsheep/usr/include

# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdebconf	
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installman
	dh_gconf --priority=20
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
