Source: x11proto-xf86bigfont
Section: x11
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Build-Depends:
 debhelper (>= 5.0.0),
 automake,
 xutils-dev
Standards-Version: 3.8.3
Vcs-Git: git://git.debian.org/git/pkg-xorg/proto/x11proto-xf86bigfont
Vcs-Browser: http://git.debian.org/?p=pkg-xorg/proto/x11proto-xf86bigfont.git

Package: x11proto-xf86bigfont-dev
Architecture: all
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}, x11proto-core-dev
Description: X11 Big Fonts extension wire protocol
 This package provides development headers describing the wire protocol
 for the XF86BIGFONT extension, used to make larger font requests possible.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 .
 This package is built from the X.org xf86bigfontproto proto module.
