Source: x11proto-video
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: David Nusinow <dnusinow@debian.org>, Andres Salomon <dilinger@debian.org>, Cyril Brulebois <kibi@debian.org>
Build-Depends:
 debhelper (>= 5.0.0),
 automake,
 xutils-dev (>= 1:7.5~1),
 pkg-config,
Standards-Version: 3.8.3
Vcs-Git: git://git.debian.org/git/pkg-xorg/proto/x11proto-video
Vcs-Browser: http://git.debian.org/?p=pkg-xorg/proto/x11proto-video.git

Package: x11proto-video-dev
Architecture: all
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: X11 Video extension wire protocol
 This package provides development headers describing the wire protocol
 for the XVideo and XVideoMotionCompensation extensions, used to accelerate
 playback of videos through X.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 .
 This package is built from the X.org videoproto proto module.

