Source: radiance
Section: graphics
Priority: extra
Maintainer: Bernd Zeimetz <bzed@debian.org>
Build-Depends: debhelper (>= 5), libtiff-dev | libtiff4-dev, libx11-dev, libglu1-mesa-dev, libxext-dev, quilt, tcsh | c-shell, docbook-to-man, ed, tk8.4
Standards-Version: 3.8.3
Homepage: http://radsite.lbl.gov/radiance
Vcs-Browser: http://git.recluse.de/?p=debian/pkg-radiance.git;a=summary
Vcs-Git: git://git.recluse.de/debian/pkg-radiance.git

Package: radiance
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, tcsh | c-shell, tk8.4
Recommends: radiance-materials
Suggests: radiance-doc
Conflicts: rcalc (<= 0.5.0-1.1)
Description: Lighting Simulation and Rendering System
 Radiance is intended to aid lighting designers and architects by
 predicting the light levels and appearance of a space prior to
 construction. The package includes programs for modeling and translating
 scene geometry, luminaire data and material properties, all of which are
 needed as input to the simulation. The lighting simulation itself uses
 ray tracing techniques to compute radiance values (ie. the quantity of
 light passing through a specific point in a specific direction), which
 are typically arranged to form a photographic quality image. The
 resulting image may be analyzed, displayed and manipulated within the
 package, and converted to other popular image file formats for export to
 other packages, facilitating the production of hard copy output.

Package: radiance-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Suggests: radiance, radiance-materials
Description: Lighting Simulation and Rendering System - Documentation
 Radiance is intended to aid lighting designers and architects by
 predicting the light levels and appearance of a space prior to
 construction.
 .
 This package contains the documentation and examples for radiance.

Package: radiance-sse3
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, radiance (= ${binary:Version})
Description: Lighting Simulation and Rendering System - SSE3 optimizations
 Radiance is intended to aid lighting designers and architects by
 predicting the light levels and appearance of a space prior to
 construction.
 .
 This package contains SSE3-optimized versions of the renderers. To be able
 to use them your processor needs to support the SSE3 instruction set.
 Using optimized binaries speeds up rendering by 5-15%.

Package: radiance-materials
Architecture: all
Depends: ${misc:Depends}
Description: Lighting Simulation and Rendering System - Materials
 Radiance is intended to aid lighting designers and architects by
 predicting the light levels and appearance of a space prior to
 construction.
 .
 This package contains common auxiliary files used by Radiance, including
 procedural patterns, textures and coordinate mappings, font descriptions,
 compiled scene descriptions for use in instances, material definitions,
 images for patterns and other examples.
