Source: aften
Section: sound
Priority: extra
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Christian Marillat <marillat@deb-multimedia.org>
Bugs: mailto:marillat@deb-multimedia.org
Standards-Version: 3.9.3
Homepage: http://aften.sourceforge.net/
Build-Depends: debhelper (>= 9), cmake, ccache, quilt

Package: aften
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: audio AC3 encoder
 Aften is an audio encoder which generates compressed audio streams based on
 ATSC A/52 specification. This type of audio is also known as AC-3 or Dolby®
 Digital and is one of the audio codecs used in DVD-Video content.

Package: libaften0
Architecture: any
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: audio AC3 encoder - runtime files
 Aften is an audio encoder which generates compressed audio streams based on
 ATSC A/52 specification. This type of audio is also known as AC-3 or Dolby®
 Digital and is one of the audio codecs used in DVD-Video content.

Package: libaften-dev
Architecture: any
Section: libdevel
Multi-Arch: same
Depends: libaften0 (= ${binary:Version}), ${misc:Depends}
Description: audio AC3 encoder - development files
 Aften is an audio encoder which generates compressed audio streams based on
 ATSC A/52 specification. This type of audio is also known as AC-3 or Dolby®
 Digital and is one of the audio codecs used in DVD-Video content.
