Source: giflib
Section: libs
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Thibaut Gridel <tgridel@free.fr>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, automake, autoconf, libtool (>=2.2.6)
Standards-Version: 3.9.4
Homepage: http://giflib.sourceforge.net/
Vcs-Browser: http://git.debian.org/?p=collab-maint/giflib.git;a=summary
Vcs-Git: git://git.debian.org/collab-maint/giflib.git

Package: giflib-dbg
Section: debug
Priority: extra
Architecture: any
Depends:
 ${misc:Depends}, giflib-tools (= ${binary:Version}),
 libgif6 (= ${binary:Version}), libgif-dev (= ${binary:Version})
Description: library for GIF images (debug)
 GIFLIB is a package of portable tools and library routines for working with GIF
 images.
 .
 This package contains the debugging symbols.

Package: giflib-tools
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libperl4-corelibs-perl | perl (<< 5.12.3-7)
Description: library for GIF images (utilities)
 GIFLIB is a package of portable tools and library routines for working with GIF
 images.
 .
 This package contains additional utilities.

Package: libgif6
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library for GIF images (library)
 GIFLIB is a package of portable tools and library routines for working with GIF
 images.
 .
 This package contains the library.

Package: libgif6-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libgif6 (= ${binary:Version})
Conflicts: libgif-dev
Description: library for GIF images (development)
 GIFLIB is a package of portable tools and library routines for working with GIF
 images.
 .
 This package contains the development files.

Package: libgif6-udeb
Section: debian-installer
Package-Type: udeb
Architecture: any
Depends: ${misc:Depends}
Description: library for GIF images (installer)
 Installer package of giflib.
