Source: linux86
Section: devel
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Juan Cespedes <cespedes@debian.org>
Standards-Version: 3.9.4

Package: bin86
Architecture: any
Priority: optional
Depends: ${bin86:Depends}
Conflicts: linux86
Description: 16-bit x86 assembler and loader
 This is the as86 and ld86 distribution written by Bruce Evans.
 It's a complete 8086 assembler and loader which can make 32-bit
 code for the 386+ processors.

Package: bcc
Architecture: any
Depends: ${bcc:Depends}, bin86 (= ${binary:Version})
Recommends: elks-libc (= ${binary:Version})
Conflicts: linux86
Replaces: linux86
Provides: c-compiler
Description: 16-bit x86 C compiler
 This is a C-compiler for 8086 cpus which is important for the
 development of boot loaders or BIOS related 8086 code.
 .
 It is possible to run 8086 code under i386 Linux using an emulator,
 `elksemu', also included in this package.

Package: elks-libc
Architecture: all
Recommends: bcc (= ${binary:Version})
Replaces: bcc (<< 0.14.9), linux86
Conflicts: linux86
Description: 16-bit x86 C library and include files
 This is the C library used to compile with bcc. It includes all the
 headers and static libraries needed to build 16-bit applications,
 for Linux/8086, Linux/i386 and DOS .COM executables.
