#!/bin/sh -e

. /usr/share/debconf/confmodule

db_title "Heimdal KDC"

RCFILE=/etc/default/heimdal-kdc

if [ -f "$RCFILE" ]; then
	. "$RCFILE" || true
fi

# get default realm
# should use krb5-config setting???
if db_get krb5-config/default_realm && [ ! -z "$RET" ]
then
	default_realm="$RET"
else
	default_realm="`hostname -d | tr a-z A-Z`"
fi
db_fget heimdal/realm seen
if [ "$RET" != "true" ]; then
	db_set heimdal/realm "$default_realm"
fi
db_subst heimdal/realm default_realm "$default_realm"
db_input medium heimdal/realm || true
db_go

# get password
db_input medium heimdal-kdc/password || true
db_go
