[Desktop Entry]
Name=Joy Inksplat

X-KDE-PluginInfo-Name=joy_inksplat
X-KDE-PluginInfo-Author=Adrien Aubourg
X-KDE-PluginInfo-Email=adrien.aubourg@gmail.com
X-KDE-PluginInfo-License=GPL-2
