[Desktop Entry]
Type=Application
Name=Gmidimonitor (with JACK support)
GenericName=Gmidimonitor
Comment=Analyse MIDI messages through JACK
Icon=gmidimonitor_32x32
Exec=gmidimonitor --jack
Terminal=false
Categories=AudioVideo;Music;
