#!/usr/bin/make -f
# -*- makefile -*-

export DESTDIR=$(CURDIR)/debian/aragorn
export DH_ALWAYS_EXCLUDE=.gitignore

include /usr/share/hardening-includes/hardening.make

CFLAGS=$(shell dpkg-buildflags --get CFLAGS)
LDFLAGS=$(shell dpkg-buildflags --get LDFLAGS)
CFLAGS+=$(HARDENING_CFLAGS)
LDFLAGS+=$(HARDENING_LDFLAGS)

%:
	dh $@

override_dh_auto_clean:
	rm -f aragorn 

override_dh_auto_build:
	$(CC) $(CFLAGS) $(LDFLAGS) -O3 -ffast-math -finline-functions -o aragorn *.c

override_dh_auto_install:
	mkdir -p $(DESTDIR)/usr/bin
	cp aragorn $(DESTDIR)/usr/bin
	mkdir -p $(DESTDIR)/usr/share/man/man1
	cp aragorn.1 $(DESTDIR)/usr/share/man/man1
