Source: haskell-hsemail
Priority: extra
Section: haskell
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Build-Depends:
 debhelper (>= 7),
 haskell-devscripts (>= 0.8.13),
 cdbs,
 ghc,
 ghc-prof,
 libghc-mtl-dev,
 libghc-mtl-prof,
 libghc-parsec3-dev,
 libghc-parsec3-prof
Build-Depends-Indep:
 ghc-doc,
 libghc-mtl-doc,
 libghc-parsec3-doc
Standards-Version: 3.9.4
Homepage: http://hackage.haskell.org/package/hsemail
Vcs-Darcs: http://darcs.debian.org/darcs/pkg-haskell/haskell-hsemail
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-hsemail

Package: libghc-hsemail-dev
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Provides: ${haskell:Provides}
Description: Haskell parser for emails and SMTP conversations - GHC libraries
 This Haskell library is parser for email messages (as described in RFC
 2822) and SMTP conversation (as described in RFC 2821).
 .
 This package contains the libraries compiled for GHC.

Package: libghc-hsemail-prof
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Provides: ${haskell:Provides}
Description: Haskell parser for emails and SMTP conversations - GHC profiling libraries
 This Haskell library is parser for email messages (as described in RFC
 2822) and SMTP conversation (as described in RFC 2821).
 .
 This package contains the profiling libraries compiled for GHC.

Package: libghc-hsemail-doc
Section: doc
Architecture: all
Depends:
 ${haskell:Depends},
 ${misc:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Description: Haskell parser for emails and SMTP conversations - documentation
 This Haskell library is parser for email messages (as described in RFC
 2822) and SMTP conversation (as described in RFC 2821).
 .
 This package contains the library documentation.
