Source: ethumb
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: debhelper (>= 9.0.0),
	autotools-dev,
	libecore-dev (>= 1.7.6),
	libedbus-dev (>= 1.7.6),
	libedje-dev (>= 1.7.6),
	libeet-dev (>= 1.7.6),
	libemotion-dev (>= 1.7.6),
	libexif-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.enlightenment.org

Package: libethumb-dev
Section: libdevel
Architecture: any
Depends: libethumb1 (= ${binary:Version}),
	${misc:Depends},
	${shlibs:Depends},
	libecore-dev (>= {binary:Version}),
	libedbus-dev (>= {binary:Version}),
	libedje-dev (>= {binary:Version}),
	libeet-dev (>= {binary:Version}),
	libemotion-dev (>= {binary:Version}),
	libexif-dev
Description: Enlightenment image thumbnailing library -- development
 Development package for Enlightenment's image thumbnailing library

Package: libethumb1
Section: libs
Architecture: any
Replaces: libethumb1
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enlightenment image thumbnailing library
 Enlightenment's image thumbnailing library
