From:  foo@debian.org
To:    bar@upstream.org
Subject: [foobar package] GNU config issues with your program

Bar,

I have recently updated the config.sub and config.guess (aka GNU config)
files in the Debian packaging of foobar. The ones you include are too old,
and cause build failures in many architetures.

Unfortunately, by design, these two files must be kept up-to-date. In
Debian we have a maintainer and a package tracking the GNU config git
repository, as well as some automated scripts to update packages from
master copies;  However, since most people are not aware of the problem
with old GNU config files, I thought I should notify you of the issue,
just in case.

Up-to-date GNU config files are available through anonymous git access.
Instructions on how to use such a beast are available at:
http://savannah.gnu.org/git/?group=config

Your downstream Debian maintainer,
foo

-- 
  Witty signature goes here
