#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

LIBSOURCE=xaw3dxft

%:
	dh  $@

override_dh_auto_configure:
	#Added to avoid problems with git
	#(git does not index empty directories)
	-/bin/mkdir $(CURDIR)/app-defaults/out
	./configure xaw3dxft.so
override_dh_auto_install:
	dh_auto_install
	$(MAKE) -C $(LIBSOURCE) install \
                DESTDIR=$(CURDIR)/debian/tmp INCDIR=/usr/include
