#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/quilt/quilt.make

export GCONF_DISABLE_MAKEFILE_SCHEMA_INSTALL=1

PACKAGE = compiz

CFLAGS = -Wall -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

DEB_HOST_ARCH		?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_GNU_TYPE	?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE	?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
	confflags += --build=$(DEB_HOST_GNU_TYPE)
else
	confflags += --build=$(DEB_BUILD_GNU_TYPE) --host=$(DEB_HOST_GNU_TYPE)
endif

CORE_ABIVERSION := $(shell sed -rn 's/^\#define[[:space:]]+CORE_ABIVERSION[[:space:]]+//p' include/compiz-core.h )

INSTALL = /usr/bin/install

confflags += --disable-static \
             --disable-fuse \
             --disable-kde \
             --disable-gnome \
             --enable-kde4 \
             --enable-librsvg \
             --enable-gconf

# the following files are modified in the build process, but shouldn't be.
# UPSTREAM_PRESERVE:=po/Makefile.in.in

# the following are generated by autoconf and have no way of being deleted
# gracefully. 
AUTOFOO_DELETE:=aclocal.m4 config.guess config.h.in config.sub configure \
                depcomp install-sh intltool-extract.in intltool-merge.in \
                intltool-update.in ltmain.sh missing mkinstalldirs \
                Makefile.in gtk/Makefile.in gtk/gnome/Makefile.in \
                gtk/window-decorator/Makefile.in images/Makefile.in \
                include/Makefile.in kde/Makefile.in \
                kde/window-decorator/Makefile.in libdecoration/Makefile.in \
                metadata/Makefile.in plugins/Makefile.in po/Makefile.in.in \
                src/Makefile.in kde/window-decorator-kde4/Makefile.in

# brief shorthand for cleaner rules below
DESTDIR:=$(CURDIR)/debian/tmp

build: build-stamp
build-stamp: $(QUILT_STAMPFN)
	dh_testdir
	for f in $(UPSTREAM_PRESERVE); do \
		cp -a $$f $$f.preserve; \
	done
	autoreconf -vi
	intltoolize --copy --force --automake
	./configure --prefix=/usr --sysconfdir=\$${prefix}/share $(confflags) \
	             CFLAGS="$(CFLAGS)" QTDIR=/usr
	$(MAKE)
	touch $@

unpatch: distclean

distclean:
	[ ! -f Makefile ] || $(MAKE) distclean

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f po/*.gmo
	rm -f build-stamp
	rm -f $(AUTOFOO_DELETE)
	for f in $(UPSTREAM_PRESERVE); do \
		if [ -f $$f.preserve ]; then \
		cp -a $$f.preserve $$f; rm -f $$f.preserve; \
		fi; \
	done
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) DESTDIR=$(DESTDIR) install
	# remove unneeded .la files
	find $(DESTDIR)/usr/lib -type f -name '*.la' | xargs rm -f

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	
	dh_installdocs
	dh_installchangelogs ChangeLog
	dh_install --sourcedir=$(DESTDIR) --fail-missing
	# the gconf and kconfig plugins are seperately installed into
	# the -gnome and -kde packages respectively
	rm -f $(CURDIR)/debian/tmp/usr/lib/compiz/libkconfig.so
	rm -f $(CURDIR)/debian/compiz-plugins/usr/lib/compiz/libkconfig.so
	rm $(CURDIR)/debian/tmp/usr/lib/compiz/libgconf.so
	rm $(CURDIR)/debian/compiz-plugins/usr/lib/compiz/libgconf.so
	dh_installman
	dh_link
	dh_gconf
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs -plibdecoration0 -V'libdecoration0 (>= 0.8.4)'
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol -- -Vcoreabiversion=$(CORE_ABIVERSION)
	dh_md5sums
	dh_builddeb

# Build architecture-independent files here.
binary-indep: build install
# Nothing to do

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install

