Source: fbv
Section: graphics
Priority: optional
Maintainer: nick black <nick.black@sprezzatech.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libungif4-dev, libpng-dev, libjpeg-dev
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/fbv.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/fbv.git;a=summary

Package: fbv-udeb
Package-Type: udeb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Frame Buffer (image) Viewer
 A simple GIF/JPEG/PNG viewer for the Linux framebuffer.
