#
# Additional packages, no tpms/collections exist
addpackages;;texlive;texlive-full;texlive-common;texlive-lang-all;ptex-bin;texpower;pdfjam;texlive-latex3
# all should be part of the texlive-base source package
name;collection-foobar;texlive;texlive-base
name;collection-foobar;texlive-full;texlive-base
name;collection-foobar;texlive-common;texlive-base
name;collection-foobar;texlive-lang-all;texlive-lang
name;collection-foobar;ptex-bin;texlive-lang
name;collection-foobar;texpower;texlive-extra
name;collection-foobar;pdfjam;texlive-extra
name;collection-foobar;texlive-latex3;texlive-extra
#
# texlive-common
title;texlive-common;Base component
description;texlive-common;The TeX Live software distribution offers a complete TeX system.
description;texlive-common;It encompasses programs for typesetting, previewing and printing
description;texlive-common;of TeX documents in many different languages, and a large collection
description;texlive-common;of TeX macros and font libraries.
description;texlive-common;.
description;texlive-common;The distribution also includes extensive general documentation about
description;texlive-common;TeX, as well as the documentation accompanying the included software
description;texlive-common;packages.
description;texlive-common;.
description;texlive-common;This package provides a common base for all TeX Live packages.
depends;texlive-common;tex-common (>= 3)
#
# texlive-full
title;texlive-full;metapackage pulling in all components of TeX Live
description;texlive-full;The TeX Live software distribution offers a complete TeX system.
description;texlive-full;It encompasses programs for typesetting, previewing and printing
description;texlive-full;of TeX documents in many different languages, and a large collection
description;texlive-full;of TeX macros and font libraries.
description;texlive-full;.
description;texlive-full;The distribution also includes extensive general documentation about
description;texlive-full;TeX, as well as the documentation accompanying the included software
description;texlive-full;packages.
# texlive-full should not depend on these meta- or transitional packages
dependsnot;texlive-full;texlive-full;texlive;texlive-lang-all;ptex-bin;texpower;pdfjam;texlive-latex3
depends;texlive-full;context
#
# texlive
title;texlive;A decent selection of the TeX Live packages
description;texlive;The TeX Live software distribution offers a complete TeX system.
description;texlive;It encompasses programs for typesetting, previewing and printing
description;texlive;of TeX documents in many different languages, and a large collection
description;texlive;of TeX macros and font libraries.
description;texlive;.
description;texlive;This metapackage provides a decent selection of the TeX Live packages
description;texlive;which should suffice for the most common tasks.
description;texlive;.
description;texlive;The distribution also includes extensive general documentation about
description;texlive;TeX, as well as the documentation accompanying the included software
description;texlive;packages.
depends;texlive;texlive-latex-recommended, texlive-fonts-recommended, texlive-latex-base
suggests;texlive;texlive-doc-en
#
# texlive-lang-all
title;texlive-lang-all;metapackage depending on all TeX Live language packages
description;texlive-lang-all;This package pulls in all texlive-lang-*
description;texlive-lang-all;packages.
#
# ptex-bin
title;ptex-bin;transitional dummy package
description;ptex-bin;This is a transitional package for ptex-bin to ensure proper
description;ptex-bin;upgrade to texlive-lang-cjk. It can be safely removed after the installation is complete.
depends;ptex-bin;texlive-lang-cjk (>= 2011)
conflicts;texlive-lang-cjk;ptex-base
conflicts;ptex-bin;ptex-base
#
# texpower
title;texpower;transitional dummy package
description;texpower;This is a transitional package for texpower to ensure proper
description;texpower;upgrade to texlive-latex-extra. It can be safely removed after the installation is complete.
depends;texpower;texlive-latex-extra (>= 2011), texlive-fonts-extra (>= 2011)
#
# pdfjam
title;pdfjam;transitional dummy package
description;pdfjam;This is a transitional package for pdfjam to ensure proper
description;pdfjam;upgrade to texlive-extra-utils. It can be safely removed after the installation is complete.
depends;pdfjam;texlive-extra-utils (>= 2011)
provides;texlive-extra-utils;pdfjam
#
# texlive-latex3
title;texlive-latex3;transitional dummy package
description;texlive-latex3;This is a transitional package for texlive-latex3 to ensure proper
description;texlive-latex3;upgrade to texlive-latex-recommended. It can be safely removed after the installation is complete.
depends;texlive-latex3;texlive-latex-recommended (>= 2011)
provides;texlive-latex-recommended;texlive-latex3
#
