Source: compiz9
Section: x11
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
X-Python-Version: >= 2.7
Build-Depends: cmake (>= 2.6),
               debhelper (>= 9~),
               dh-migrations,
               dh-translations,
               intltool,
               libtool,
               pkg-config,
               quilt (>= 0.40),
               kde-workspace-dev,
               libcairo2-dev,
               libdbus-glib-1-dev,
               libgl1-mesa-dev (>= 6.5.1) [!armhf !armel] | libgl-dev [!armhf !armel],
               libegl1-mesa-dev [armhf armel], libgles2-mesa-dev [armhf armel],
               libboost-dev,
               libboost-serialization-dev | libboost-serialization1.53-dev,
               libglib2.0-dev,
               libglibmm-2.4-dev,
               libgtk2.0-dev,
               libgtk-3-dev,
               libice-dev (>= 1:1.0.1), 
               libmetacity-dev (>= 1:2.30.3-0ubuntu3),
               libpango1.0-dev,
               libpng-dev,
               libqt4-dev,
               librsvg2-dev, 
               libsm-dev (>= 1:1.0.1),
               libwnck-dev,
               libx11-dev,
               libxcomposite-dev (>= 1:0.3-2),
               libxext-dev,
               libxdamage-dev (>=1:1.0.3),
               libxfixes-dev (>= 1:4.0.1),
               libxinerama-dev, 
               libxml-parser-perl,
               libxrandr-dev (>= 2:1.1.0.2),
               libxrender-dev (>= 1:0.9.1), 
               libxcursor-dev,
               libxml2-dev,
               libxslt1-dev,
               xsltproc,
               libstartup-notification0-dev (>= 0.7),
               x11proto-gl-dev (>= 1.4.8),
               libglu1-mesa-dev [!armhf !armel],
               libjpeg8-dev,
               libnotify-dev,
               libx11-xcb-dev,
               libprotobuf-dev,
               protobuf-compiler,
               python-dev,
               python-gcovr,
               python-pyrex,
               gnome-control-center-dev,
               gsettings-desktop-schemas-dev,
Standards-Version: 3.9.3
Vcs-Bzr: https://code.launchpad.net/+branch/ubuntu/compiz

Package: compiz9
Architecture: all
Provides: x-window-manager,compiz
Depends: compiz9-core (>= ${source:Version}),
         compiz9-plugins-default (>= ${source:Version}),
         compiz9-gnome,
         ${misc:Depends},
Replaces: compiz
Breaks: compiz
Description: OpenGL window and compositing manager
 Compiz brings to life a variety of visual effects that make the Linux desktop
 easier to use, more powerful and intuitive, and more accessible for users
 with special needs.
 .
 This metapackage provides the components necessary for running compiz. It
 provides the compiz core, a set of standard plugins, a window decorator using
 the Gtk toolkit and the files necessary to integrate compiz with the GNOME
 desktop environment.

Package: compiz9-core
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Recommends: compiz9-plugins-default,
Provides: compiz9-core-abiversion-${coreabiversion},compiz-core
Breaks: compiz-core
Replaces: compiz9config-settings-manager (<< 0.9.8), compiz-core
Description: OpenGL window and compositing manager
 Compiz brings to life a variety of visual effects that make the Linux desktop
 easier to use, more powerful and intuitive, and more accessible for users
 with special needs.
 .
 Compiz combines together a window manager and a composite manager using
 OpenGL for rendering. A "window manager" allows the manipulation of the
 multiple applications and dialog windows that are presented on the screen. A
 "composite manager" allows windows and other graphics to be combined together
 to create composite images. Compiz achieves its stunning effects by doing
 both of these functions.

Package: compiz9-dev
Architecture: any
Depends: compiz9-core (= ${binary:Version}),
         libdecoration9-dev (= ${binary:Version}),
         ${misc:Depends},
         compiz9-plugins-default (= ${binary:Version}),
         libgl1-mesa-dev [!armhf !armel] | libgl-dev [!armhf !armel],
         libegl1-mesa-dev [armhf armel],
         libgles2-mesa-dev [armhf armel],
         libpng-dev,
         libxcomposite-dev (>= 1:0.3-2),
         libxfixes-dev (>=1:4.0.1),
         libxdamage-dev (>= 1:1.0.3),
         libxinerama-dev,
         libxrandr-dev (>=2:1.1.0.2),
         libxcursor-dev,
         libice-dev (>= 1:1.0.1),
         libsm-dev (>= 1:1.0.1),
         libstartup-notification0-dev (>= 0.7),
         libxslt1-dev,
         libxml2-dev,
         libx11-xcb-dev,
         libglib2.0-dev,
         libglibmm-2.4-dev,
         libgtk-3-dev,
Replaces: compiz-plugins-main-dev (<< 1:0.9.8),
          compiz-plugins-extra (<< 1:0.9.8),
          compiz-dev (<< 1:0.9.8),
Breaks: compiz-plugins-main-dev (<< 1:0.9.8),
        compiz-plugins-extra (<< 1:0.9.8),
	compiz-dev
Provides: compiz-dev
Suggests: compiz9-plugins
Description: OpenGL window and compositing manager - development files
 Compiz brings to life a variety of visual effects that make the Linux desktop
 easier to use, more powerful and intuitive, and more accessible for users
 with special needs.
 .
 This package contains the headers and libraries needed to compile compiz
 plugins.

Package: compiz9-gnome
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         compiz9-plugins-default (= ${binary:Version}),
         gsettings-desktop-schemas,
         gnome-settings-daemon (>= 3.4.2-0ubuntu9),
Recommends: python-gconf
Replaces: compiz-plugins-main (<= 1:0.9.8),
          compiz-plugins-main-default (<= 1:0.9.8),
          compizconfig-backend-gconf (<= 1:0.9.8),
          libcompizconfig0 (<= 1:0.9.8),
Breaks: compiz-plugins-main (<= 1:0.9.8),
        compiz-plugins-main-default (<= 1:0.9.8),
        compizconfig-backend-gconf (<= 1:0.9.8),
Description: OpenGL window and compositing manager - GNOME window decorator
 Compiz brings to life a variety of visual effects that make the Linux desktop
 easier to use, more powerful and intuitive, and more accessible for users
 with special needs.
 .
 This package contains files needed to integrate compiz with the GNOME desktop
 environment.

Package: compiz9-plugins-default
Architecture: any
Depends: compiz9-core (= ${binary:Version}),
         libdecoration9 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
Replaces: compiz-plugins-main-default (<< 1:0.9.8),
Breaks: compiz-plugins-main-default (<< 1:0.9.8),
Description: OpenGL window and compositing manager - default plugins
 Compiz brings to life a variety of visual effects that make the Linux desktop
 easier to use, more powerful and intuitive, and more accessible for users
 with special needs.
 .
 This package contains the default compiz plugins we activate in ubuntu coming
 with core compiz.

Package: compiz9-plugins
Architecture: any
Depends: compiz9-core (= ${binary:Version}),
         compiz9-plugins-default (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
Replaces: compiz-plugins-main (<< 1:0.9.8),
          compiz-plugins-extra (<< 1:0.9.8),
          compiz-plugins-main-default (<< 1:0.9.8),
Breaks: compiz-plugins-main (<< 1:0.9.8),
        compiz-plugins-extra (<< 1:0.9.8),
Description: OpenGL window and compositing manager - plugins
 Compiz brings to life a variety of visual effects that make the Linux desktop
 easier to use, more powerful and intuitive, and more accessible for users
 with special needs.
 .
 This package contains the plugins that come with compiz but not officially
 supported.

Package: libdecoration9
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Conflicts: libdecoration0
Description: Compiz window decoration library
 The window decoration library is responsible for drawing the window borders
 and title bar of windows managed by Compiz. It is used by window decorators
 like gtk-window-decorator.

Package: libdecoration9-dev
Section: libdevel
Architecture: any
Depends: libdecoration9 (= ${binary:Version}),
         ${misc:Depends},
         libx11-dev,
         libxrender-dev (>= 1:0.9.1),
Conflicts: libdecoration0-dev
Description: Compiz window decoration library - development files
 The window decoration library is responsible for drawing the window borders
 and title bar of windows managed by Compiz. It is used by window decorators
 like gtk-window-decorator.
 .
 This package contains files required for developing window decorators
 compatible with Compiz.

Package: libcompiz9config0
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         compiz9-core (= ${binary:Version}),
Description: Settings library for plugins - OpenCompositing Project
 The OpenCompositing Project brings 3D desktop visual effects that improve
 usability of the X Window System and provide increased productivity
 through plugins and themes contributed by the community giving a
 rich desktop experience.
 .
 This package contains the library for plugins to configure settings.

Package: libcompiz9config0-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends},
         libcompiz9config0 (= ${binary:Version}),
         compiz9-dev,
Description: Development file for plugin settings - OpenCompositing Project
 The OpenCompositing Project brings 3D desktop visual effects that improve
 usability of the X Window System and provide increased productivity
 through plugins and themes contributed by the community giving a
 rich desktop experience.
 .
 This package contains the headers and development files needed to
 build plugins with settings support.

Package: python-compiz9config
Architecture: any
Section: python
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
Description: Compizconfig bindings for python
 Compiz Fusion is the result of the re-unification of the Beryl-project
 and the community around the Compiz Window Manager. It seeks to provide
 an easy and fun-to-use windowing environment, allowing use of the
 graphics hardware to provide impressive effects, amazing speed and
 unrivalled usefulness
 .
 This package provides python bindings for the compizconfig system.

Package: compiz9config-settings-manager
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends},
         python-compiz9config (>= ${source:Version}),
         python-gtk2,
Recommends: compiz9-plugins-default
Description: Compiz configuration settings manager
 The OpenCompositing Project brings 3D desktop visual effects that improve
 usability of the X Window System and provide increased productivity.
 .
 This package contains the compizconfig settings manager.

Package: compiz9config-backend-gconf
Depends: compiz9-gnome, gconf2, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package.
 This package ensures a clean upgrade path, and can be safely removed
 after the upgrade.

