Source: libclc
Priority: extra
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.4
Section: libs
Homepage: http://libclc.llvm.org/
#Vcs-Git: git://git.debian.org/collab-maint/libclc.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libclc.git;a=summary

Package: libclc-dev
Section: libdevel
Architecture: any
Depends: libclc0 (= ${binary:Version})
Description: OpenCL library implementation -- development
 Open implementation of the library requirements of the OpenCL C programming
 language, as specified by the OpenCL 1.1 Specification. The following sections
 of the specification impose library requirements:
 .
 6.1: Supported Data Types
 6.2.3: Explicit Conversions
 6.2.4.2: Reinterpreting Types Using as_type() and as_typen()
 6.9: Preprocessor Directives and Macros
 6.11: Built-in Functions
 9.3: Double Precision Floating-Point
 9.4: 64-bit Atomics
 9.5: Writing to 3D image memory objects
 9.6: Half Precision Floating-Point 
 .
 libclc is intended to be used with the Clang compiler's OpenCL frontend.
 .
 libclc is designed to be portable and extensible. To this end, it provides
 generic implementations of most library requirements, allowing the target to
 override the generic implementation at the granularity of individual
 functions.
 .
 This is the development package.

Package: libclc0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends}
Description: OpenCL library implementation -- development
 Open implementation of the library requirements of the OpenCL C programming
 language, as specified by the OpenCL 1.1 Specification. The following sections
 of the specification impose library requirements:
 .
 6.1: Supported Data Types
 6.2.3: Explicit Conversions
 6.2.4.2: Reinterpreting Types Using as_type() and as_typen()
 6.9: Preprocessor Directives and Macros
 6.11: Built-in Functions
 9.3: Double Precision Floating-Point
 9.4: 64-bit Atomics
 9.5: Writing to 3D image memory objects
 9.6: Half Precision Floating-Point 
 .
 libclc is intended to be used with the Clang compiler's OpenCL frontend.
 .
 libclc is designed to be portable and extensible. To this end, it provides
 generic implementations of most library requirements, allowing the target to
 override the generic implementation at the granularity of individual
 functions.
 .
 libclc supports the PTX target.
