Source: gimp-data-extras
Section: graphics
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Ari Pollak <ari@debian.org>
Standards-Version: 3.9.4
Build-Depends-Indep: debhelper (>= 4.0.0), libgimp2.0-dev

Package: gimp-data-extras
Architecture: all
Enhances: gimp
Description: An extra set of brushes, palettes, and gradients for The GIMP
 This package contains extra brushes, palettes, and gradients for
 extra GIMPy artistic enjoyment.
