Source: libsm
Section: x11
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Build-Depends:
 debhelper (>= 8.1.3),
 pkg-config,
 x11proto-core-dev (>= 6.8.99.15+cvs.20050722),
 xtrans-dev,
 libice-dev (>= 2:1.0.5),
 uuid-dev,
 automake,
 libtool,
 xutils-dev (>= 1:7.6+2),
 quilt,
# doc:
 xmlto (>= 0.0.22), xorg-sgml-doctools (>= 1:1.8), w3m,
Standards-Version: 3.9.4
Vcs-Git: git://git.debian.org/git/pkg-xorg/lib/libsm
Vcs-Browser: http://git.debian.org/?p=pkg-xorg/lib/libsm.git

Package: libsm6
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: X11 Session Management library
 This package provides the main interface to the X11 Session Management
 library, which allows for applications to both manage sessions, and make use
 of session managers to save and restore their state for later use.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 .
 This module can be found at
 git://anongit.freedesktop.org/git/xorg/lib/libSM

Package: libsm6-dbg
Section: debug
Architecture: any
Priority: extra
Depends: ${shlibs:Depends}, ${misc:Depends}, libsm6 (= ${binary:Version})
Multi-Arch: same
Description: X11 Session Management library (debug package)
 This package provides the main interface to the X11 Session Management
 library, which allows for applications to both manage sessions, and make use
 of session managers to save and restore their state for later use.
 .
 This package contains the debug versions of the library found in libsm6.
 Non-developers likely have little use for this package.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 .
 This module can be found at
 git://anongit.freedesktop.org/git/xorg/lib/libSM

Package: libsm-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, libsm6 (= ${binary:Version}), x11proto-core-dev, libice-dev (>= 1:1.0.0-1)
Suggests: libsm-doc
Description: X11 Session Management library (development headers)
 This package provides the main interface to the X11 Session Management
 library, which allows for applications to both manage sessions, and make use
 of session managers to save and restore their state for later use.
 .
 This package contains the development headers for the library found in libsm6.
 Non-developers likely have little use for this package.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 .
 This module can be found at
 git://anongit.freedesktop.org/git/xorg/lib/libSM

Package: libsm-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Replaces:
 libsm-dev (<< 2:1.2.1),
Breaks:
 libsm-dev (<< 2:1.2.1),
Description: documentation for the X Session Management protocol and library
 The X Session Management protocol facilitates the management of groups of
 client applications by a session manager.
 .
 This package contains documentation for the session management protocol
 itself and for the associated library, libSM.
