Source: gnomecatalog
Section: gnome
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Jose Sanchez Moreno <jose@o2w.es>
Build-Depends: debhelper (>= 5.0.51), python, cdbs (>=0.4.49)
Build-Depends-Indep: python-support (>= 0.3)
Standards-Version: 3.9.4
Homepage: http://gnomecatalog.sf.net


Package: gnomecatalog
Architecture: all
Depends:  ${misc:Depends}, ${python:Depends}, python-gtk2 (>= 2.6.0), python-glade2 (>= 2.6.0), python-gnome2 (>= 2.10.0), python-pysqlite2, python-kaa-metadata, python-gobject, gnome-icon-theme,  librsvg2-common
Suggests: python-sexy
Description: catalog CD, DVD and hard disk files
 Generate thumbnails of the video files and image files via
 thumbnailers and saves it in the database files.  Save the metadata of
 the files, then you can search in the metatada of mp3, avis, images (exif).
 The program have been develop in python-gtk.
