Source: python-feedvalidator
Section: python
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Noah Slater <nslater@tumbolia.org>
Standards-Version: 3.9.4
Build-Depends: cdbs (>= 0.4.42), debhelper (>= 7.2.11)
Build-Depends-Indep: help2man, python-support (>= 0.6.4), python
Homepage: http://feedvalidator.org/
Vcs-Svn: svn://svn.debian.org/python-modules/packages/python-feedvalidator/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/python-modules/packages/python-feedvalidator/trunk/

Package: python-feedvalidator
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-libxml2, python-rdflib
Description: library and tool for validating syndication feeds
 An advanced syndication feed validator that works with RSS, Atom and KML.
 .
 Usable as a Python library or command line tool.
