Source: procmail
Section: mail
Priority: standard
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Santiago Vila <sanvila@debian.org>
Standards-Version: 3.9.4
Homepage: http://www.procmail.org/

Package: procmail
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: suidmanager (<< 0.50)
Recommends: default-mta | mail-transport-agent | fetchmail
Description: Versatile e-mail processor
 Can be used to create mail-servers, mailing lists, sort your incoming
 mail into separate folders/files (very convenient when subscribing to one
 or more mailing lists or for prioritising your mail), preprocess your
 mail, start any programs upon mail arrival (e.g. to generate different
 chimes on your workstation for different types of mail) or selectively
 forward certain incoming mail automatically to someone.
