#!/bin/sh -e

. /usr/share/debconf/confmodule
VERSION=$2

if [ -e /etc/default/lastfmsubmitd ]; then
    . /etc/default/lastfmsubmitd || true
    db_set lastfmsubmitd/user "$LASTFM_USER"
    db_set lastfmsubmitd/password "$LASTFM_PASSWORD"
fi

get_conf() {
    /usr/lib/lastfmsubmitd/conftool --get "$@" /etc/lastfmsubmitd.conf
}

if [ -e /etc/lastfmsubmitd.conf ]; then
    db_set lastfmsubmitd/user $(get_conf account/user)
    db_set lastfmsubmitd/password $(get_conf account/password)
fi

db_input high lastfmsubmitd/user || true
db_input high lastfmsubmitd/password || true
db_input high lastfmsubmitd/spool_group || true

if [ -e /etc/default/lastmp ]; then
    . /etc/default/lastmp || true
    if [ "$ENABLED" ]; then
        db_input critical lastfmsubmitd/no_lastmp || true
    fi
fi

db_go || true
