Source: haskell-strict-concurrency
Priority: extra
Section: haskell
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Build-Depends:
 debhelper (>= 7),
 haskell-devscripts (>= 0.8),
 cdbs,
 ghc,
 ghc-prof,
Build-Depends-Indep: ghc-doc
Standards-Version: 3.9.4
Homepage: http://hackage.haskell.org/package/strict-concurrency
Vcs-Darcs: http://darcs.debian.org/darcs/pkg-haskell/haskell-strict-concurrency
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-strict-concurrency

Package: libghc-strict-concurrency-dev
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Provides: ${haskell:Provides}
Description: Haskell strict concurrency abstractions - GHC libraries
 This package provides head normal form strict versions of some standard
 Haskell concurrency abstractions (MVars,Chans), which provide control
 over where evaluation takes place not offered by the default lazy types.
 This may be useful for deciding when and where evaluation occurs,
 leading to improved time or space use, depending on the circumstances.
 .
 This package contains the libraries compiled for GHC.

Package: libghc-strict-concurrency-prof
Architecture: any
Depends:
 ${haskell:Depends},
 ${misc:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Provides: ${haskell:Provides}
Description: Haskell strict concurrency abstractions - GHC profiling libraries
 This package provides head normal form strict versions of some standard
 Haskell concurrency abstractions (MVars,Chans), which provide control
 over where evaluation takes place not offered by the default lazy types.
 This may be useful for deciding when and where evaluation occurs,
 leading to improved time or space use, depending on the circumstances.
 .
 This package contains the profiling libraries compiled for GHC.

Package: libghc-strict-concurrency-doc
Section: doc
Architecture: all
Depends:
 ${haskell:Depends},
 ${misc:Depends}
Suggests: ${haskell:Suggests}
Recommends: ${haskell:Recommends}
Description: Haskell strict concurrency abstractions - documentation
 This package provides head normal form strict versions of some standard
 Haskell concurrency abstractions (MVars,Chans), which provide control
 over where evaluation takes place not offered by the default lazy types.
 This may be useful for deciding when and where evaluation occurs,
 leading to improved time or space use, depending on the circumstances.
 .
 This package contains the library documentation.
