Source: xfce4-utils
Section: xfce
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Xfce Maintainers <pkg-xfce-devel@lists.alioth.debian.org>
 Lionel Le Folgoc <mrpouit@gmail.com>
Build-Depends: debhelper (>= 9), libxfce4util-dev (>= 4.8.0), 
 dpkg-dev (>= 1.16.1), libxfce4ui-1-dev (>= 4.8.0), chrpath, intltool, 
 libgtk2.0-dev (>= 2.10.0), libdbus-glib-1-dev (>= 0.33),
 xfce4-dev-tools, libtool
Standards-Version: 3.9.4
Homepage: http://www.xfce.org/
Vcs-Svn: svn://svn.debian.org/pkg-xfce/desktop/trunk/xfce4-utils/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-xfce/desktop/trunk/xfce4-utils/

Package: xfce4-utils
Section: xfce
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, xterm|x-terminal-emulator, 
 x11-xserver-utils, xinit, exo-utils, procps
Recommends: xfwm4, xfce4-panel, thunar, xscreensaver | xlockmore |
 xlockmore-gl, dbus-x11, xinput, xdg-user-dirs
Suggests: xfce4-session
Description: Various tools for Xfce
 This package contains xfrun4, xfterm4, xflock4, xfmountdev4, xfbrowser4,
 startxfce4, xfhelp4, xfce4-about, eight tools for Xfce.  Xfce is a desktop
 environment that uses the GTK+ library and isn't resource-hungry.
 .
 If you want to use xfmountdev4, be sure to install Thunar before because it's
 called by it.
