Source: libtest-pod-coverage-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: libpod-coverage-perl, libtest-pod-perl, libtest-simple-perl
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
 Niko Tyni <ntyni@iki.fi>, Krzysztof Krzyzaniak (eloy) <eloy@debian.org>,
 gregor herrmann <gregor+debian@comodo.priv.at>
Standards-Version: 3.9.4
Homepage: http://search.cpan.org/dist/Test-Pod-Coverage/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libtest-pod-coverage-perl/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-perl/trunk/libtest-pod-coverage-perl/

Package: libtest-pod-coverage-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libpod-coverage-perl, libtest-simple-perl
Recommends: libtest-pod-perl
Description: Check for pod coverage in your distribution
 Test::Pod::Coverage is a wrapper for Pod::Coverage that
 automates the process of testing one's documentation for
 completeness. It is mostly used as a final check before
 distributing a new release.
 .
 Also see lib-pod-coverage-perl.
