Source: haskell-ifelse
Section: haskell
Priority: extra
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7)
  , cdbs
  , haskell-devscripts (>= 0.6.15+nmu11)
  , ghc
  , ghc-prof
  , ghc-doc
Standards-Version: 3.9.4
Homepage: http://hackage.haskell.org/package/IfElse
Vcs-Darcs: http://darcs.debian.org/pkg-haskell/haskell-ifelse
Vcs-Browser: http://darcs.debian.org/cgi-bin/darcsweb.cgi?r=pkg-haskell/haskell-ifelse

Package: libghc-ifelse-dev
Architecture: any
Depends: ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: anaphoric and miscellaneous useful control-flow
 This package provides a library for the Haskell programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 Library for control flow inside of monads with anaphoric variants on if and
 when and a C-like "switch" function.

Package: libghc-ifelse-prof
Architecture: any
Depends: ${haskell:Depends}
  , ${shlibs:Depends}
  , ${misc:Depends}
Provides: ${haskell:Provides}
Description: anaphoric and miscellaneous useful control-flow; profiling libraries
 This package provides a library for the Haskell programming language,
 compiled for profiling.
 See http://www.haskell.org/ for more information on Haskell.
 .
 Library for control flow inside of monads with anaphoric variants on if and
 when and a C-like "switch" function.

Package: libghc-ifelse-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${haskell:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: anaphoric and miscellaneous useful control-flow; documentation
 This package provides the documentation for a library for the Haskell
 programming language.
 See http://www.haskell.org/ for more information on Haskell.
 .
 Library for control flow inside of monads with anaphoric variants on if and
 when and a C-like "switch" function.
