Source: makebeamerinfo
Section: graphics
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: debhelper (>= 9.0.0), perl
Standards-Version: 3.9.4
Homepage: https://github.com/jberger/MakeBeamerInfo

Package: makebeamerinfo
Architecture: all
Depends: ${misc:Depends}, perl
Description: Generate impression .info files from beamer pdf
 Impressive is a pdf viewer that aids in viewing presentations made in LaTeX
 Beamer. Impressive uses a .info control file to specify the transitions used
 between pages. While this file isn't necessary, the Beamer-based presentation
 can be presented in a much more consistant style when the .info file is tuned
 to the individual presentation. makebeamerinfo is designed to create this file
 based on an auxiliary file (.nav) that Beamer creates in parallel with the
 presentation. It also does not require any configuration or tags in the
 presentation source.

