Source: xserver-xorg-video-cirrus
Section: x11
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Build-Depends:
 debhelper (>= 8),
 dh-autoreconf,
 quilt,
 pkg-config,
 xserver-xorg-dev (>= 2:1.9.4),
 x11proto-video-dev,
 x11proto-core-dev,
 x11proto-fonts-dev,
 x11proto-randr-dev,
 x11proto-render-dev,
 x11proto-xext-dev,
 xutils-dev
Standards-Version: 3.9.4
Vcs-Git: git://git.debian.org/git/pkg-xorg/driver/xserver-xorg-video-cirrus
Vcs-Browser: http://git.debian.org/?p=pkg-xorg/driver/xserver-xorg-video-cirrus.git

Package: xserver-xorg-video-cirrus
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${xviddriver:Depends},
Provides:
 ${xviddriver:Provides}
Description: X.Org X server -- Cirrus display driver
 This package provides the driver for the Cirrus Logic family of video
 cards.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 .
 This package is built from the X.org xf86-video-cirrus driver module.
