#!/usr/bin/make -f

#export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	dh_install
	sed -i "/dependency_libs/ s/'.*'/''/" debian/libgtkglext1-dev/usr/lib/libgdkglext-x11-1.0.la
	sed -i "/dependency_libs/ s/'.*'/''/" debian/libgtkglext1-dev/usr/lib/libgtkglext-x11-1.0.la

override_dh_strip:
	dh_strip --dbg-package=libgtkglext1-dbg

