Source: synaesthesia
Section: sound
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Devin Carraway <devin@debian.org>
Build-Depends: libsvga1-dev [i386 amd64], libsdl1.2-dev (>= 1.2.2-3.1), libx11-dev, libsm-dev, libice-dev, debhelper (>> 8.0.0), autotools-dev
Standards-Version: 3.9.4

Package: synaesthesia
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Program for representing sounds visually
 This is a program for representing music graphically, as a curuscating
 field of fog, stars and/or glowing lines.  It is intended as a visual
 accompaniment to music.  The representation goes beyond conventional
 freqency analysis displays by combining a fourier analysis with stereo
 positioning information, making it possible to distinguish individual
 intruments, vocalists or effects by location, shape and color.
 .
 Sound inputs can be obtained from a CD, line input, or piped-in PCM data.
