Source: desktop-file-utils
Section: devel
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Ross Burton <ross@debian.org>
Build-Depends: debhelper (>= 9.0.0),
               autotools-dev,
               libpopt-dev,
               libglib2.0-dev
Standards-Version: 3.9.4

Package: desktop-file-utils
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Utilities for .desktop files
 Some utilities to make dealing with .desktop files easier:
  * update-desktop-database -- update the desktop-MIME mapping
  * desktop-file-validate -- validate a desktop file
  * desktop-file-install -- install a desktop file, munging en route.

