Source: man2html
Section: doc
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Robert Luberda <robert@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://users.actrix.gen.nz/michael/vhman2html.html

Package: man2html-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: manpages, manpages-dev
Replaces: man2html (<= 1.6g-2~)
Breaks: man2html (<= 1.6g-2~)
Description: convert man pages into HTML format
 The package contains a command-line tool for converting man pages into 
 HTML format.
 .
 man2html-base is a stripped-down package containing only a man to HTML 
 converter,  useful for users who do not need any CGI interface, provided 
 in the man2html package.

Package: man2html
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, man2html-base (= ${binary:Version}), gawk, man-db (>= 2.4.1), debianutils (>= 2.1), apache2 | httpd-cgi | lynx-cur
Suggests: swish++, lynx-cur | www-browser
Description: browse man pages in your web browser
 Point your web browser at http://localhost/cgi-bin/man/man2html to read and
 search your man pages in the browser.
 .
 Features:
  * Fast C CGI program for man/BSD-mandoc to HTML conversion.
  * Works from the unformatted nroff/troff source.
  * Source may be compressed.
  * Does tbl tables (but not eqn equations).
  * Generates hypertext links to foobar(1), abc@host, and xyzzy.h files
  * CGI script for whatis-based alpha-indexes by section.
  * CGI script for name-only alpha-indexes by section.
  * CGI script for full text search (requires swish++)
  * Front-end script to talk to a pre-launched netscape.

