#!/usr/bin/make -f

SHELL = /bin/bash
PACKAGE = xaw3d

#export DH_VERBOSE = 1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

include /usr/share/dpatch/dpatch.make

ifneq (,$(findstring $(ARCH), $(COMPATARCHS)))
#
# Remove comment to enable libc5 compatibility.
# You need also to use control.oldlib instead of the standard one.
#COMPATSTUFF = yep
#
export DH_OPTIONS = -a
else
export DH_OPTIONS = -Nxaw3d -a
endif

SOURCE=lib/Xaw3d

build: stamp-build
stamp-build: patch-stamp
	rm -rf $(SOURCE)/X11 && install -m755 -d $(SOURCE)/X11
	cd $(SOURCE) && ln -sf ../ X11/Xaw3d && xmkmf
	$(MAKE) -C $(SOURCE) \
          EXTRA_DEFINES="-D_REENTRANT -DARROW_SCROLLBAR" SHLIBDEF="-D_REENTRANT -DARROW_SCROLLBAR"
	touch $@

clean: myclean unpatch
myclean:
	rm -rf $(SOURCE)/X11 $(COMPAT) lib/Xaw3d/laygram.h
	cd $(SOURCE) && [ -f $(SOURCE)/Makefile ] || xmkmf
	$(MAKE) -C $(SOURCE) clean
	dh_clean stamp-build `find . -name Makefile`

install: DH_OPTIONS=
install: stamp-build
	dh_testdir
	dh_testroot
	dh_prep
	$(MAKE) -C $(SOURCE) install \
                DESTDIR=$(CURDIR)/debian/tmp INCDIR=/usr/include \
		SHLIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH) \
		USRLIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH)

binary: binary-indep binary-arch

binary-indep:
# There are no architecture-independent packages here.

binary-arch: install
	dh_testdir
	dh_testroot
	dh_install
	dh_lintian
	dh_installexamples $(SOURCE)/app-defaults
	dh_installdocs $(SOURCE)/README.XAW3D 
	dh_installchangelogs
	dh_installdebconf
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY:	build clean install binary binary-arch binary-indep unpatch myclean patch
