Source: sysvinit
Section: admin
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian sysvinit maintainers <pkg-sysvinit-devel@lists.alioth.debian.org>
Build-Depends:
 debhelper (>= 9.20120410),
 po-debconf,
 quilt (>= 0.40),
 libselinux1-dev (>= 1.14) [linux-any],
 libsepol1-dev [linux-any]
Standards-Version: 3.9.3
Homepage: http://savannah.nongnu.org/projects/sysvinit

Package: sysvinit
Architecture: any
Depends: systemd-sysv,${shlibs:Depends}, ${misc:Depends}
# For ischroot
 debianutils (>= 4),
# Required for TERM=xterm switch (see #605777)
 kbdcontrol (>= 8.2+ds2-6) [kfreebsd-any]
Description: System-V-like init utilities
 This is a transitional package designed to ensure systemd-sysv is installed
 on your system. You can remove it safely.

Package: sysvinit-utils
Architecture: any
Conflicts: last, sysvconfig, chkconfig (<< 11.0-79.1-2)
Replaces: last, sysvinit (<= 2.86.ds1-65)
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: bootlogd, sash
Description: System-V-like utilities
 This package contains the important System-V-like utilities.
 .
 Specifically, this package includes:
 killall5, last, lastb, mesg, pidof, service, sulogin

Package: sysv-rc
Architecture: all
Recommends: lsb-base (>= 3.2-14)
Conflicts: file-rc
Replaces: file-rc
Suggests: sysv-rc-conf, bum
Depends:
 ${misc:Depends},
 systemd-sysv,
 insserv (>> 1.12.0-10)
Breaks: initscripts (<< 2.86.ds1-63)
Description: System-V-like runlevel change mechanism
 This is a transitional package designed to ensure systemd-sysv is installed
 on your system. You can remove it safely.

Package: initscripts
Architecture: any
Depends:
 ${shlibs:Depends}, ${misc:Depends}, ${mount:Depends},
 debianutils (>= 4),
 lsb-base (>= 3.2-14),
 sysvinit-utils (>= 2.86.ds1-64), sysv-rc | file-rc,
 coreutils (>= 5.93)
Recommends: psmisc, e2fsprogs
Conflicts: libdevmapper1.02.1 (<< 2:1.02.24-1)
Replaces: libc6, libc6.1, libc0.1, libc0.3
Breaks:
# Needed for ifquery
 ifupdown (<< 0.7~rc3),
# Needed to ensure migration of UTC setting before /etc/default/rcS is updated.
 util-linux (<< 2.20.1-5),
# Packages using /lib/init/rw which must transition to /run.
# These breaks may be removed after wheezy is released.
 aide (<< 0.15.1-5),
 atm-tools (<< 1:2.5.1-1.3),
 console-common (<< 0.7.86),
 console-setup (<< 1.74),
 cruft (<< 0.9.16),
 eepc-acpi-scripts (<< 1.1.12),
 fcheck (<< 2.7.59-16),
 hostapd (<< 1:0.7.3-3),
 live-build (<< 3.0~a26-1),
 ltsp-client-core (<< 5.2.16-1),
 mdadm (<< 3.2.2-1),
 nbd-client (<< 1:2.9.23-1),
 nfs-common (<< 1:1.2.5-3),
 portmap (<< 6.0.0-2),
 readahead-fedora (<< 2:1.5.6-3),
 resolvconf (<< 1.49),
 rpcbind (<< 0.2.0-7),
 rsyslog (<< 5.8.2-2),
 splashy (<< 0.3.13-5.1+b1),
 sysklogd (<< 1.5-6.2),
 wpasupplicant (<< 0.7.3-4),
 xymon (<< 4.3.0~beta2.dfsg-9),
 selinux-policy-default (<= 2:0.2.20100524-9),
# Packages relying on a writable /etc/mtab which need fixing
# before they can work with /proc/mounts and utab with libmount.
 libpam-mount (<< 2.13-1),
 autofs (<< 5.0.0),
# Older versions of initramfs-tools can't cope with /etc/mtab
# being a symlink #668616 and #668650
 initramfs-tools (<< 0.104)
Description: scripts for initializing and shutting down the system
 The scripts in this package initialize a standard Debian
 system at boot time and shut it down at halt or reboot time.

Package: bootlogd
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base (>= 3.2-14)
Replaces: sysvinit-utils (<< 2.88dsf-17), initscripts (<< 2.88dsf-17)
Breaks: sysvinit-utils (<< 2.88dsf-17), initscripts (<< 2.88dsf-17)
Description: daemon to log boot messages
 bootlogd logs all messages printed to the system console during system boot,
 and records those messages to a logfile.
