Source: xmltoman
Section: devel
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: cdbs, debhelper (>= 9.0.0), libxml-parser-perl
Standards-Version: 3.9.4
Homepage: http://sourceforge.net/projects/xmltoman/

Package: xmltoman
Architecture: all
Depends: libxml-parser-perl,
	${misc:Depends},
	${shlib:Depends}
Description: simple XML to man converter
 xmltoman and xmlmantohtml are two small scripts to convert xml to man
 pages in groff format or html. It features the usual man page items such a
 "description", "options", "see also" etc.
