Source: obexfs
Section: comm
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Hendrik Sattler <debian@hendrik-sattler.de>
Build-Depends: debhelper (>= 7.0.0), autotools-dev, libobexftp0-dev (>= 0.22), pkg-config (>= 0.9.0),
	docbook,
	docbook-utils,
	libfuse-dev
Standards-Version: 3.9.4

Package: obexfs
Architecture: any
Depends: ${shlibs:Depends},
	${misc:Depends},
	fuse
Description: mount filesystem of ObexFTP capable devices
 ObexFS uses FUSE to mount filesystems of ObexFTP capable
 devices either manually or in autofs style mode.
 It can handle all devices that the obexftp package can handle,
 connected via serial cable, IrDA, bluetooth or USB.
