Source: ttfautohint
Section: fonts
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Gürkan Sengün <gurkan@phys.ethz.ch>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libqt4-dev, libfreetype6-dev
Standards-Version: 3.9.3
Homepage: http://www.freetype.org/ttfautohint/

Package: ttfautohint
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Automatic font hinter
 This project provides a library which takes a TrueType font as the input,
 removes its bytecode instructions (if any), and returns a new font where all
 glyphs are bytecode hinted using the information given by FreeType's
 autohinting module. The idea is to provide the excellent quality of the
 autohinter on platforms which don't use FreeType.
 .
 This includes a cli and a gui version of the tool.
