Source: liboggz
Section: net
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Xiph.org Maintainers <pkg-xiph-maint@lists.alioth.debian.org>
Build-Depends: debhelper (>= 9), libogg-dev, doxygen, docbook-to-man, binutils (>= 2.12.90.0.9), libtool, bash-completion (>= 1.1), quilt, autotools-dev
Standards-Version: 3.9.4
Vcs-Bzr: http://bzr.debian.org/pkg-xiph/liboggz/

Package: liboggz2
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: convenience interface for Ogg stream I/O
 Oggz provides a simple programming interface for reading and writing
 Ogg files and streams.
 .
 liboggz supports the flexibility afforded by the Ogg file format while
 presenting the following API niceties:
 .
  * Strict adherence to the formatting requirements of Ogg bitstreams,
    to ensure that only valid bitstreams are generated.
  * A simple, callback based open/read/close or open/write/close interface
    to raw Ogg files.
  * A customisable seeking abstraction for seeking on multitrack Ogg data.
  * A packet queue for feeding incoming packets for writing, with callback
    based notification when this queue is empty.
  * A handy table structure for storing information on each logical
    bitstream.

Package: liboggz2-dev
Section: libdevel
Architecture: any
Depends: liboggz2 (= ${binary:Version}), ${misc:Depends}, libc6-dev, libogg-dev
Provides: liboggz-dev
Conflicts: liboggz-dev
Description: convenience interface for Ogg stream I/O (development files)
 Oggz provides a simple programming interface for reading and writing
 Ogg files and streams.
 .
 This package contains the header files, static libraries, and stream
 debugging tools required for developing applications that use Oggz.

Package: oggz-tools
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: utilities for mangling Ogg streams
 Oggz provides a simple programming interface for reading and writing
 Ogg files and streams.
 .
 This package contains some utilities useful for debugging and tweaking
 Ogg streams, using liboggz

Package: liboggz2-dbg
Section: debug
Priority: extra
Architecture: any
Depends: liboggz2 (= ${binary:Version}), ${misc:Depends}
Description: convenience interface for Ogg stream I/O debugging symbols
 Oggz provides a simple programming interface for reading and writing
 Ogg files and streams.
 .
 This package contains debugging symbols useful for tracing bugs in
 liboggz software.
