case "$model" in
	"HP Compaq nc4200"*)
		ACPI_SLEEP=true
	;;
	"HP Compaq nc6000"*)
		ACPI_SLEEP=true
	;;
	"HP Compaq nx6110"*)
		ACPI_SLEEP=true
	;;
	"HP Compaq nc6120"*)
		ACPI_SLEEP=true
	;;
	"HP Compaq nx6125"*)
		ACPI_SLEEP=true
		POST_VIDEO=false
	;;
	"HP Compaq nc6220"*)
		ACPI_SLEEP=true
	;;
	"HP Compaq nc6230"*)
		ACPI_SLEEP=true
	;;
	"HP Compaq nx8220"*)
		ACPI_SLEEP=true
	;;
	"HP Compaq nc8230"*)
		ACPI_SLEEP=true
	;;
	"HP Compaq nx9040"*)
		ACPI_SLEEP=true
	;;
	"HP Pavilion dv1000"*)
		ACPI_SLEEP=true
	;;
	"HP Pavilion zt3000"*)
		ACPI_SLEEP=true
	;;
	"HP Tablet PC Tx1100"*)
		ACPI_SLEEP=true
	;;
	"HP Tablet PC TR1105"*)
		ACPI_SLEEP=true
	;;
	"Pavilion dv4000"*)
		ACPI_SLEEP=true
	;;
	"Pavilion zd7000"*)
		ACPI_SLEEP=true
	;;
        "Pavilion zv6000"*)
		ACPI_SLEEP=true
	;;
	"Presario 2200"*)
		ACPI_SLEEP=true
	;;
esac 
