#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# the following files are modified in the build process, but shouldn't be.
#UPSTREAM_PRESERVE:=po/Makefile.in.in

include /usr/share/quilt/quilt.make
include /usr/share/python/python.mk

build: build-stamp
build-stamp: $(QUILT_STAMPFN)
	dh_testdir
	for f in $(UPSTREAM_PRESERVE); do \
		cp -a $$f $$f.preserve; \
	done
	python ./setup.py build --prefix=/usr
	touch $@

clean: unpatch
	dh_testdir
	dh_testroot
	python ./setup.py clean
	rm -rf build-stamp build installed_files ccsm.desktop
	for f in $(UPSTREAM_PRESERVE); do \
		if [ -f $$f.preserve ]; then \
			cp -a $$f.preserve $$f; rm -f $$f.preserve; \
		fi; \
	done
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	python setup.py install --root=debian/tmp --prefix=/usr $(py_setup_install_args)

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	uncomment when upstream starts putting stuff in it
#	dh_installchangelogs ChangeLog
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	find debian/tmp -type f -name '*.pyc' -o -name '*.egg-info' | xargs rm -f
	dh_install --sourcedir=debian/tmp --fail-missing
	dh_pysupport
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
