Source: portaudio
Priority: optional
Section: sound
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian VoIP Team <pkg-voip-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>= 9.0.0), dpatch, autotools-dev, dpkg-dev (>= 1.13.19)
Standards-Version: 3.9.4
Homepage: http://www.portaudio.com/
Vcs-Svn: svn://svn.debian.org/pkg-voip/portaudio/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-voip/portaudio/?op=log

Package: libportaudio0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Portable audio I/O - shared library
 PortAudio is a portable audio I/O library designed for cross-platform
 support of audio. It uses a callback mechanism to request audio
 processing.  Audio can be generated in various formats, including 32
 bit floating point, and will be converted to the native format
 internally.
 .
 This package contains the shared library.

Package: libportaudio-dev
Section: libdevel
Architecture: any
Depends: libportaudio0 (= ${binary:Version})
Suggests: libportaudio-doc
Description: Portable audio I/O - development files
 PortAudio is a portable audio I/O library designed for cross-platform
 support of audio. It uses a callback mechanism to request audio
 processing.  Audio can be generated in various formats, including 32
 bit floating point, and will be converted to the native format
 internally.
 .
 This package contains the development files.

Package: libportaudio-doc
Section: doc
Architecture: all
Suggests: libportaudio-dev
Description: Portable audio I/O - documentation
 PortAudio is a portable audio I/O library designed for cross-platform
 support of audio. It uses a callback mechanism to request audio
 processing.  Audio can be generated in various formats, including 32
 bit floating point, and will be converted to the native format
 internally.
 .
 This package contains the documentation.
