#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk

# Add here any variable or target overrides you need.

DEB_INSTALL_MANPAGES_icmptx=icmptx.1

install/icmptx::
	cp icmptx debian/icmptx/usr/bin
