Source: gnome-paint
Section: graphics
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Aron Xu <aron@debian.org>
Build-Depends: debhelper (>= 7.0.50~),
	cdbs,
	autotools-dev,
	libgtk2.0-dev,
	intltool ( >= 0.35.0),
	gettext
Standards-Version: 3.9.2
Homepage: http://launchpad.net/gnome-paint/

Package: gnome-paint
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: simple, easy to use paint program for GNOME
 gnome-paint is a program inspired by MS Paint and designed for 
 GNOME (and maybe other) desktop environment. It could be used to 
 manipulate images in a very simple way. With a very friendly 
 user interface, gnome-paint is easy to get started for new users.
 
