Source: obexd
Section: admin
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Bluetooth Maintainers <pkg-bluetooth-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>= 8), dpkg-dev (>= 1.16.1~),
               libglib2.0-dev,
               libdbus-1-dev,
               libopenobex1-dev,
               libbluetooth-dev (>= 4.99),
               libebook1.2-dev,
               libical-dev
Vcs-Svn: svn://svn.debian.org/svn/pkg-bluetooth/packages/obexd
Vcs-Browser: http://svn.debian.org/wsvn/pkg-bluetooth/packages/obexd/
Homepage: http://www.bluez.org
Standards-Version: 3.9.4

Package: obexd-client
Section: admin
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: any
Description: D-Bus OBEX client
 Implementation of OBEX(OBject EXchange) client and server as a D-Bus service
 providing high-level functionality.
 .
 OBEX is communication protocol to facilitate the exchange of the binary object
 between the devices.
 .
 In this package the client is included.

Package: obexd-server
Section: admin
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: obex-data-server
Architecture: any
Description: D-Bus OBEX server
 Implementation of OBEX(OBject EXchange) client and server as a D-Bus service
 providing high-level functionality.
 .
 OBEX is communication protocol to facilitate the exchange of the binary object
 between the devices.
 .
 In this package the server is included.
