[Desktop Entry]
Version=1.0
Name=Ardour Digital Audio Workstation (@optarch@)
Comment=Record, mix and master multi-track audio
Exec=/usr/bin/ardour2
Terminal=false
Type=Application
Icon=/usr/share/ardour2/icons/ardour_icon_22px.png
Categories=AudioVideo;Audio;
MimeType=application/x-ardour;
