#!/usr/bin/make -f

libvteN := $(shell sed -rn 's/^Package:[[:space:]]*(libvte[0-9]+)[[:space:]]*$$/\1/p' debian/control)

PY_VERSIONS = $(shell pyversions --requested debian/control)
DEB_BUILDDIR = debian/build
DEB_MAKE_FLAVORS = main $(PY_VERSIONS)

include /usr/share/cdbs/1/rules/autoreconf.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/class/gnome.mk

DEB_CONFIGURE_LIBEXECDIR := \$${prefix}/lib/$(libvteN)
DEB_FIXPERMS_EXCLUDE += gnome-pty-helper
DEB_DH_MAKESHLIBS_ARGS_$(libvteN) += -V '$(libvteN) (>= 1:0.28.0)'

DEB_CONFIGURE_FLAGS_main += \
	--enable-introspection \
        --enable-ncurses \
	--enable-gtk-doc

DEB_MAKE_DESTDIRSKEL = $(CURDIR)/debian/tmp
