Source: libblossom
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: autotools-dev,
	cdbs (>= 0.4.93~),
	debhelper (>= 9.0.0)
Standards-Version: 3.9.4
Section: libs
Homepage: http://nick-black.com/dankwiki/index.php/Libblossom

Package: libblossom-dev
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: ${misc:Depends},
	libblossom1 (= ${binary:Version})
Description: Manycore thread spawning - development
 libblossom automates highly parallel thread spawning. This is useful on
 machines with many processing elements, or NUMA machines where locality among
 processor subgroups is critical. Either some absolute number of threads can be
 spawned, or a number per processing element.
 .
 These are the development files needed for building with libblossom.

Package: libblossom1
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Architecture: any
Replaces: libblossom1
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enlightenment rendering
 libblossom automates highly parallel thread spawning. This is useful on
 machines with many processing elements, or NUMA machines where locality among
 processor subgroups is critical. Either some absolute number of threads can be
 spawned, or a number per processing element.
