Source: ruby-levenshtein
Section: ruby
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.3.0~)
Standards-Version: 3.9.4
Vcs-Git: git://git.debian.org/pkg-ruby-extras/ruby-levenshtein.git
Vcs-Browser: http://git.debian.org/?p=pkg-ruby-extras/ruby-levenshtein.git;a=summary
Homepage: http://www.erikveen.dds.nl/levenshtein/index.html
XS-Ruby-Versions: all

Package: ruby-levenshtein
Architecture: any
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter
Description: calculates the Levenshtein distance between two sequences
 The Levenshtein distance is a metric for measuring the amount of difference
 between two sequences (i.e., the so called edit distance). The Levenshtein
 distance between two sequences is given by the minimum number of operations
 needed to transform one sequence into the other, where an operation is an
 insertion, deletion, or substitution of a single element.
 .
 This Ruby library can work on strings, arrays or any other objects provided
 the sequences respond to :each and the objects to :hash and :eql?.
