Source: vinagre
Section: gnome
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Build-Depends: cdbs (>= 0.4.52),
               debhelper (>= 9),
               gnome-pkg-tools (>= 0.10),
               intltool (>= 0.40.0),
               libglib2.0-dev (>= 2.28.0),
               libx11-dev,
               libgtk-3-dev (>= 3.0.3),
               libgnome-keyring-dev,
               libgtk-vnc-2.0-dev (>= 0.4.3-3),
               libavahi-ui-gtk3-dev (>= 0.6.26),
               libavahi-gobject-dev (>= 0.6.26),
               libdbus-glib-1-dev,
               valac (>= 0.20.0) | valac-0.20,
               yelp-tools,
               libvte-dev (>= 0.20) | libvte-3-dev,
               libxml2-dev (>= 2.6.31),
               libtelepathy-glib-dev (>= 0.11.6),
               openssh-client,
               docbook-xml
Standards-Version: 3.9.4
Homepage: http://www.gnome.org/projects/vinagre/

Package: vinagre
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Recommends: gnome-icon-theme,
            rdesktop
Description: remote desktop client for the GNOME Desktop
 Vinagre is a remote desktop client integrated into the GNOME Desktop.
 .
 With Vinagre you can have several connections open simultaneously,
 bookmark your servers thanks to the Favorites support, store the
 passwords in the GNOME keyring, and browse the network to look for
 VNC servers.
 .
 Supported protocols are VNC, SSH, and RDP.
