#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/utils.mk

DEB_CONFIGURE_EXTRA_FLAGS +=	--libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH) \
				--enable-gtk-doc \
				--enable-vala \
				--enable-python \
				--disable-gjs

ifeq (,$(filter $(DEB_HOST_ARCH),ia64 mips))
DEB_CONFIGURE_EXTRA_FLAGS += --enable-seed
endif

# We clean the test directory before running check because we need to stop
# -Bsymbolic-functions from being used when building the tests.  Else
# the extension-c test fails.  And we want to avoid the gtk-requiring tests.
DEB_MAKE_CHECK_TARGET = -C tests/libpeas clean all check LDFLAGS=""

DEB_DH_MAKESHLIBS_ARGS_libpeas-1.0-0 += -X/usr/lib/$(DEB_HOST_MULTIARCH)/libpeas-1.0/

binary-post-install/libpeas-doc::
	# remove compiled python and libtool .la files
	find debian/$(cdbs_curpkg) -name '*.pyo' -delete
	find debian/$(cdbs_curpkg) -name '*.pyc' -delete
	find debian/$(cdbs_curpkg) -name '*.la' -delete
