Source: eio
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: debhelper (>= 8.0.0),
	autotools-dev,
	cdbs,
	libeet-dev,
	libecore-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.enlightenment.org

Package: libeio-dev
Section: libdevel
Architecture: any
Depends: libeio1 (= ${binary:Version}),
	libeet-dev,
	libecore-dev
Description: Enlightenment asynchronous I/O libraries.
 Development package for Enlightenment's asynchronous I/O libraries.

Package: libeio1
Section: libs
Architecture: any
Replaces: libeio1
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enlightenment asynchronous I/O libraries.
 Enlightenment's asynchronous I/O libraries.
