Source: libgoo-canvas-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), libcairo-perl (>= 1.00),
  libextutils-depends-perl (>= 0.2), libextutils-pkgconfig-perl (>= 1.0),
  libglib-perl (>= 1.103), libgtk2-perl (>= 1.100), perl (>= 5.6.0-12),
  libgoocanvas-dev, quilt
Maintainer: Nick Black <nick.black@sprezzatech.com>
XSBC-Original-Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Standards-Version: 3.9.4
Homepage: http://search.cpan.org/dist/Goo-Canvas/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libgoo-canvas-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libgoo-canvas-perl/

Package: libgoo-canvas-perl
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends},
  libcairo-perl (>= 1.00), libextutils-depends-perl (>= 0.2),
  libextutils-pkgconfig-perl (>= 1.0), libglib-perl (>= 1.103),
  libgtk2-perl (>= 1.100)
Description: Perl interface to the GooCanvas
 GTK+ doesn't have a builtin canvas widget. Goo::Canvas fills that
 gap. It is easy to use and has powerful and extensible ways to create
 items in canvases.
