Source: libphonenumber
Priority: optional
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: ant,
	autotools-dev,
	cdbs (>= 0.4.93~),
	debhelper (>= 9.0.0),
	doxygen
Build-Depends-Indep: jdk-default
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.enlightenment.org

Package: libphonenumber-dev
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: ${misc:Depends},
	libphonenumber1 (= ${binary:Version}),
Description: Phone number library from Android -- development
 Development package for Google's phone number library.

Package: libphonenumber1
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Architecture: any
Replaces: libphonenumber1
Depends: ${shlibs:Depends},
	${misc:Depends}
Description: Phone number library from Android
 Google's phone number library.
