#!/usr/bin/make -f
%:
	dh $@

build:
	dh build --before dh_auto_configure
	[ ! -f $(CURDIR)/lib/Template/Config.pm.orig ] && cp $(CURDIR)/lib/Template/Config.pm $(CURDIR)/lib/Template/Config.pm.orig
	dh build --remaining

override_dh_installdocs:
	dh_installdocs -X.svn/

clean:
	dh clean --until dh_auto_clean
	rm -f $(CURDIR)/.defaults.cfg
	rm -f $(CURDIR)/t/test/src/divisionbyzero.ttc
	rm -rf $(CURDIR)/t/test/tmp/cache/*
	[ ! -f $(CURDIR)/lib/Template/Config.pm.orig ] || mv -f $(CURDIR)/lib/Template/Config.pm.orig $(CURDIR)/lib/Template/Config.pm
	dh clean --remaining
