Source: x11proto-resource
Section: x11
Priority: optional
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: Cyril Brulebois <kibi@debian.org>
Build-Depends:
 debhelper (>= 5.0.0),
 automake,
 xutils-dev (>= 1:7.5~1),
Standards-Version: 3.9.2
Vcs-Git: git://git.debian.org/git/pkg-xorg/proto/x11proto-resource
Vcs-Browser: http://git.debian.org/?p=pkg-xorg/proto/x11proto-resource.git

Package: x11proto-resource-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, x11proto-core-dev
Multi-Arch: foreign
Description: X11 Resource extension wire protocol
 This package provides development headers describing the wire protocol
 for the Resource extension, used to measure resource usage from clients
 within the X server.
 .
 More information about X.Org can be found at:
 <URL:http://www.X.org>
 .
 This package is built from the X.org resourceproto proto module.
